//colours
$som-green: #00504d;
$som-green-invert: findColorInvert($som-green);
$som-grana: #8E0021; 
$som-grana-invert: findColorInvert($som-grana);
$som-gold: #ffba00;
$som-gold-invert: $black;
$primary: $som-green;
$primary-invert: $som-green-invert;

$secondary: $som-grana;
$secondary-invert: $som-grana-invert;

//new
$wine:        #80225f; 
$wine-invert: findColorInvert($wine);
$white:       #ffffff;
$white-invert:findColorInvert($white);
$blacker: #101010;
$black: #202020;
$black-invert: findColorInvert($black);
$gray-3: #303030; 
$gray-32: #323232;
$gray-4: #404040; 
$gray-6: #606060;
$gray-8: #808080;
$gray-a: #a0a0a0;
$light-10: #efefef;
$light-10-invert: findColorInvert($light-10);
$light-8: #dfdfdf;
$light-8-invert: findColorInvert($light-8);

$grey-darker:  $gray-3;
$grey-dark:    $gray-32; 
$grey:         $gray-6;
$grey-light:   $gray-8;
$grey-lighter: $gray-a;

//Add transparent as a colour
@import "../../../../../lib/bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "som-gold": ($som-gold, $som-gold-invert),
  "white": ($white, $white-invert),
  "light-10": ($light-10, $light-10-invert),
  "light-8": ($light-8, $light-8-invert),
  "black": ($black, $black-invert),
  "transparent":(rgba(#000, 0), $white) 
);
$colors: map-merge($colors, $addColors);