//SoM Utilities
/* Hide SVG stack */

.vcu-som-icons-stack {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}
@each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    $border-col: $color-invert;
    $border-col: if($name == 'transparent', transparent, $color-invert);
    $border-col: if($name == 'som-green', $color, $color-invert);
    $border-col: if($name == 'som-grana', $color, $color-invert);
    .has-#{$name}-background {
        background-color:   $color;
        color: $color-invert;
        .section__intro, .section__intro--thin {
            border-color: $color-invert;    
        }
        a {
            color: $color-invert;
            @include active-link {
                color: $color-invert;
            }
        }
        .button:not([class*='is-']) {
            @if ($name == "som-yellow") {
                color: $color-invert;
                background-color: $white;
                @include active-link {
                    color: $color;
                    border-color: $color; 
                    background-color: $color-invert;
                }
            } @else {
                color: $color;
                background-color: $color-invert;
                border-color: $color; 
                @include active-link {
                    color: $color-invert;
                    border-color: $border-col; 
                    background-color: $color;
                }
            }
            
        }
        &.has-vision-graphic {
            background-color: transparent;
            &::before {
                background-color: $color;
            }    
        }
        
        &.is-transparent {
            background-color:   $color; 
            background-color: rgba($color, $transparency);
            &.has-vision-graphic {
                background-color: transparent;
                &::before {
                    background-color: rgba($color, $transparency);
                }    
            }
            .button:not([class*='is-']) {
                background-color: $color-invert;
                color: $color;
                @include active-link {
                    color: $color-invert;
                    background-color: $color;
                    border-color: $color-invert;
                }
            }
        }
        &.has-background-image {
             > .container {
                 z-index: 40;
             }
            .button:not([class*='is-']) {
                background-color: $color-invert;
                color: $color;
                @include active-link {
                    color: $color-invert;
                    background-color: $color;
                    border-color: $color-invert;
                }
            }
        }
        .image-overlay {
            background-color: rgba($color, $transparency);
        }
    }

    .has-#{$name}-background--grad {
        background-color:   $color;
        background-image:   linear-gradient(19.5deg, lighten($color, 5.57%), darken($color, 5.57%)); 
        color: $color-invert;
        a {
            color: $color-invert;
        }
        .button:not([class*='is-']) {
            color: $color-invert;
            border-color: $border-col; 
            background-color: $color;
            @include active-link {
               color: $color;
                background-color: $color-invert;
                border-color: $color; 
            }
        }
    }     
    .image-overlay {
        &.has-#{$name}-background {
            background-color:   rgba($color,0.32);
            color: $color-invert;
        }
        &.is-darker-overlay {
            &.has-#{$name}-background {
                background-color:   rgba($color,0.48);
                color: $color-invert;
            }

        }
    }
}

/* Vision graphic angle */
.vcu-angle {
    width:  0; 
    height: 0; 
    border-top:     60px solid    rgba(170, 187, 204, 1);
    border-bottom:  60px solid    rgba(187, 204, 170, 0.5);
    border-left:    60px solid    rgba(204, 187, 170, 0.5);
    border-right:   60px solid    rgba(170, 204, 187, 0.5);
    
}
.vcu-skewed {
    width:  25%;
    height: 100vh;
    position: relative;
    background-color: rgba(170, 187, 204, 1);
/* transform: skewX(-19.5deg);*/
}
.vcu-skewed::after {
    content: "";
    width:  100%;
    height: 100%;
    position: absolute;
    right: -20%;
    background-color: rgba(204, 187, 170, 1);
    transform: skew(-19.5deg, 0);
    z-index: -10;
}

/* Background color utils */
.has-primary-bg {
    background-color: $som-green;
    color: $white;
}
.has-secondary-bg {
    background-color: $som-grana;
    color: $white;
}

//Custom utlis
.image-overlay, .angle-overlay, .image-overlay--gradient {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10;
    background-blend-mode: overlay;

} 
.image-overlay {
    background-color: rgba($black, 0.32);
    &.image-overlay--dark {
        background-color: rgba($black, 0.52);
    }
    &.image-overlay--light {
        background-color: rgba($black, 0.22);
    }
    transition: background-color 160ms ease-out;
}
.image-overlay--gradient {  
    @include do-gradient($start-col: rgba($black, 0.92), $end-stop: 50%);        
    transition: background-image 300ms ease-in;

}
.angle-overlay {
   @include desktop {
       transform: skewX(-19.5deg);
    }    
    @each $name, $pair in $colors {
         $color: nth($pair, 1);
         &.is-#{$name} {
            background-color: rgba($color, 0.7);    
         }
    }
        

    @include desktop {
        &.is-half {
            max-width: 57%;
            margin-left: -6%;
        }        
    }
}

/* SVG Icons */
.svg-icon-wrap {
    display: -ms-inline-flex;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
/* Override Bulma class to style svgs */
.icon.icon--svg {
    max-width: 100%;
    max-height: 100%;
    &.is-inline-icon, &.is-inline-icon--large-text, &.is-inline-icon {
        display: inline-block;
        position: relative;
        height: 1rem;
        width: 1rem;
        bottom: -(1rem * 0.15);
    }
    &.is-inline-icon--large-text {
        bottom: -(1rem * 0.2); 
    }
    svg {
        max-height: 100%;
        max-width: 100%;
        text {
            display: none; 
        } 
        fill: inherit;
        stroke: inherit;
            
    }
    @each $name, $pair in $colors { 
      $color: nth($pair, 1);
      &.has-icon-#{$name} {
        fill: $color;
        stroke: $color;
      }
    }
    &.has-icon-gray-32 {
        fill: $gray-32; 
        stroke: $gray-32; 
    }
    &.icon--svg--has-text {
        width: auto;
        height: auto;
        svg {
            height: $size-5;
            width:  $size-5;
            margin-bottom: $space-11; 
        }
    }
}
.show-more-icon {
    display: inherit;
}
.show-less-icon {
    display: none;
}
.icon-text {
    color: inherit;
    text-transform: uppercase;
    font-size: $size-8;
}
.is-centered {
    text-align: center;
}
.is-active {
    .show-more-icon {
        display: none;
    }
    .show-less-icon {
        display: inherit;
    }   
}
.is-feature-font--serif {
    font-family: $feature-font-serif;
    line-height: 1.3;
}
.section__title {
    font-family: $family-primary;
    font-size: $size-3;
    line-height: 1.3;
    margin-bottom: $space-3;
    &.is-feature-font--serif {
        font-family: $feature-font-serif;      
        font-size: $size-2;
    }
}
.section__sub-title { 
    font-size: $size-5a;
    margin-bottom: 0;
    &.is-feature-font--serif {
        font-family: $feature-font-serif;      
        font-size: $size-2;
    }
}
.is-vision-angle {
    
    @include vision-angle($pull: left);
}
.is-vision-angle--right {
    @include vision-angle($pull: right);
}
.section__label__container {
    margin-bottom: $space-1;    
}
.section__label, .content-label {
    font-size: $size-7;
    text-transform: uppercase;
    font-weight: 400;
    color: $grey;
}
.section__title__outer-wrap {
    background-color: $light-10;
    margin-left: -0.768rem;
    margin-right: -0.768rem;
    margin-bottom: $space-5;

}
.section__title--featured__wrap {
    @include make-flexbox($direction: row, $justify: flex-start, $align: baseline);

    margin-bottom: 2.2rem; 

    
    .section__intro {
        margin-bottom: 0;
        -ms-flex: 1;
        flex-grow: 1;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}
.section__title--featured {   
    .section__title {
        -ms-flex: none;
        flex-grow: 0;
        display: inline;
        margin-bottom: 0;
        margin-right: $space-5/2;
        
        font-size: 2.25rem;
        > span {
            display: inline-block;
            
            padding-left:     $gutter-width*1.5;
            padding-right:    $space-5;
            padding-top:      $space-1;
            padding-bottom:   $space-1;
            margin-left: -$gutter-width;
        
            background-color: $primary;
            color: $white;
            
            @include boxShadow($light-10, insetRight, insetLeft);
            border-radius: ($space-1 * 2)+ ($size-1 * 1.1) / 2;
        }
    }
    p {
    
        border-bottom: none;
    }
}
.section__intro, .section__intro--thin  {
    font-size: $size-5;
    font-weight: 400;
    line-height: 1.5;    
    margin-bottom: $space-4;
    padding-bottom: $size-5;
    border-bottom: 1px solid $black;
    &.is-touch-only {
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}
.section__intro--thin {
    font-weight: 200;
}
.som-content-label {
    color: $grey-light;
    
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0;
    &.is-light {
        font-weight: 300;    
    }
}
.read-more-link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0;
}
#fb-svg-icon--round {
    path {
        fill: $black; 
    }
}
.is-feature-font, .is-feature-font--serif { 
    transition: visibility 250ms ease-out;
}
.is-feature-font--serif {
    font-family: $feature-font-serif;
}
.wf-loading .is-feature-font, .wf-loading .is-feature-font--serif {
    visibility: hidden;
}
/* Golden ratio dimensions */
div {
     &.is-GR {
      div {
          @include overlay; 
          width: 100%;
      }
      padding-top: 61.8%;
    }
    &.is-GR-landscape {
      div {
          @include overlay; 
          width: 100%;
      }
      padding-top: 161.8%;
    }
}
/** 
    A-Z links
**/
.a-z-navigation {
    @include make-flexbox($direction:row, $justify: space-around, $align: start, $wrap: wrap);
    height: 100%;
    a {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        color: inherit;
        border-colour: inherit;
        background-colour: inherit;
        width: 18%;
        padding-top:     $space-11;
        padding-bottom:  $space-11;
        margin-bottom:  $space-11;
        border-width: 1px;
        border-style: solid;
        -ms-flex: 1 1 auto;
        flex-grow: 0;
        display: inline-flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        transition: background-color 160ms ease-out;
        
         &:hover, &:active, &:focus {
             color: inherit;
        }   
    }
}
    