       <!-- ** Audience navigation ** -->
       <nav class="section audience-navigation landing-page-navigation is-active" role="navigation" aria-label="Audience navigation">
          <div class="audience-navigation__top-wrap landing-page-nav__top-wrap">
               <div class="container audience-nav__top landing-page-nav__top"> 
                   <div class="audience-nav__heading landing-page-nav__heading"> 
                       <h3 class="audience-nav__heading-text landing-page-nav__heading-text"> 
                           <a href="javascript:void(0)" class="audience-nav__toggle " title="Show/hide audience navigation">
                              Information for...
                               <span class="icon icon--svg has-icon-white show-more-icon">
                                   <svg>
                                       <use xlink:href="#circle_plus" />
                                   </svg>
                               </span>    
                               <span class="icon icon--svg has-icon-white show-less-icon">
                                   <svg>
                                       <use xlink:href="#circle_minus" />
                                   </svg>
                               </span>    
                           </a>
                       </h3> 
                       
                   </div>
 
               </div><!-- // audience-nav__top container -->
           </div><!-- // audience-nav__top wrap -->
         <div class="audience-navigation__body-wrap landing-page-nav__body-wrap"> 
           <div class="container"> 
                  <div class="audience-navigation__body landing-page-navigation__body">
                   <div class="columns">
                       <div class="column">
                            <ul>
                                <li><a href="javascript:void(0)">Prospective Students     </a></li>
                                <li><a href="javascript:void(0)">Medical Students     </a></li>
                                <li><a href="javascript:void(0)">Foundations             </a></li>
                           </ul>
                       </div>
                       <div class="column">
                           <ul>
                                <li><a href="javascript:void(0)">Graduate Students     </a></li>
                                <li><a href="javascript:void(0)">Residents and Fellows </a></li>
                                <li><a href="javascript:void(0)">Faculty and Staff     </a></li>
                            </ul>
                       </div>
                       <div class="column">
                           <ul>
                                <li><a href="javascript:void(0)"> Patients                       </a></li>
                                <li><a href="javascript:void(0)"> Health Care Professionals      </a></li>
                                <li><a href="javascript:void(0)"> Alumni, Donors and Friends     </a></li>
                            </ul>
                       </div>
                       <div class="column">
                           <ul>
                                <li><a href="javascript:void(0)">Patients</a></li> 
                                <li><a href="javascript:void(0)">Health Care Professionals</a></li>
                                <li><a href="javascript:void(0)">Alumni, Donors and Friends</a></li>
                            </ul>
                       </div>
                   </div><!-- // .columns -->
                </div><!-- // .audience-navigation__body -->
           </div><!-- // audience-navigation__body container -->
         </div><!-- / audience-navigation__body-wrap -->
       </nav>
       <!--** // audience-navigation **-->