//Bulma imports
@import "../../../lib/bulma/sass/utilities/initial-variables";
@import "../../../lib/bulma/sass/utilities/functions";

//Project modules - overrides for Bulma initial variables

@import 'modules/fonts'; 
@import 'modules/spacing';
@import 'modules/colors';

//Bulma imports
@import "../../../lib/bulma/sass/utilities/_all";
@import "../../../lib/bulma/sass/base/_all";
@import "../../../lib/bulma/sass/layout/_all";
@import "../../../lib/bulma/sass/grid/_all";
@import "../../../lib/bulma/sass/elements/_all";
@import "../../../lib/bulma/sass/components/_all";

//Slick SCSS
@import "../../../lib/slick/slick/slick";

@import 'modules/som-functions-mixins';
//Bulma override and extensions imports
@import "modules/bulma/elements/image";
@import "modules/bulma/elements/columns";
@import "modules/bulma/elements/section";
@import "modules/bulma/elements/cards";



* {
      box-sizing: border-box; 
  }

  h1, h2, h3, h4, h5 {
    font-family: $family-primary;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: $space-4;
}

.is-feature-font, .is-feature-font--serif { 
    transition: visibility 250ms ease-out;
}
.is-feature-font--serif {
    font-family: $feature-font-serif;
}
.wf-loading .is-feature-font, .wf-loading .is-feature-font--serif {
    visibility: hidden;
}
p, li {
    font-size: 1rem;
}
p {
    font-size: 1rem;
    margin-bottom: $space-4;
}
h1 {
    font-family: $family-primary;
    font-size: $size-1;
    margin-bottom: $space-3;
}
h2 {
    font-size: $size-2;
}
h3 {
    font-size: $size-3;
}
h4 {
    font-size: $size-4;
}
h5 {
    font-size: $size-5;
}
.is-feature-font--serif {
    font-family: $feature-font-serif;
    line-height: 1.1;
}
.section__title {
    font-family: $family-primary;
    font-size: 2.441rem;
    line-height: 1.1;
/*    margin-left: -$gld-3;*/
    
    margin-bottom: $space-3;
/*    padding-left: $gld-3;
    border-left: 6px solid $som-green;*/
    
    &.is-feature-font--serif {
        font-family: $feature-font-serif;      
        font-size: $size-1;
        line-height: 1;
    }
}
.section__label__container {
    margin-bottom: $space-1;    
}
.section__label {
    font-size: $size-9;
    text-transform: uppercase;
    font-weight: 400;
    color: $grey;

}
.section__title__outer-wrap {
    background-color: $light-10;
    margin-left: -0.768rem;
    margin-right: -0.768rem;
    margin-bottom: $space-5;

}
.section__title--featured__wrap {
    @include make-flexbox($direction: row, $justify: flex-start, $align: baseline);

    margin-bottom: 2.2rem; 

    
    .section__intro {
        margin-bottom: 0;
        -ms-flex: 1;
        flex-grow: 1;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}
.section__title--featured {   
    .section__title {
        flex-grow: 0;
        display: inline;
        margin-bottom: 0;
        margin-right: $space-5/2;
        > span {
            display: inline-block;
            padding-left:     $gutter-width*1.5;
            padding-right:    $space-5;
            padding-top:      $space-1;
            padding-bottom:   $space-1;
             margin-left: -$gutter-width;
        
            background-color: $white;
            @include boxShadow($light-10, insetRight, insetLeft);
            border-radius: ($space-1 * 2)+ ($size-1 * 1.1) / 2;
            @include desktop {
            }


        }
    }
}
.section__intro {
    font-size: $size-5;
    font-weight: 300;
    line-height: 1.5;    
    margin-bottom: $space-4;
    &.is-touch-only {
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}
.som-content-label {
    color: $grey-light;
    
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0;
    &.is-light {
        font-weight: 300;    
    }
}
.read-more-link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0;
}
/* Vision graphic angle */
.vcu-angle {
    width:  0; 
    height: 0; 
    border-top:     60px solid    rgba(170, 187, 204, 1);
    border-bottom:  60px solid    rgba(187, 204, 170, 0.5);
    border-left:    60px solid    rgba(204, 187, 170, 0.5);
    border-right:   60px solid    rgba(170, 204, 187, 0.5);
    
}
.vcu-skewed {
    width:  25%;
    height: 100vh;
    position: relative;
    background-color: rgba(170, 187, 204, 1);
/* transform: skewX(-19.5deg);*/
}
.vcu-skewed::after {
    content: "";
    width:  100%;
    height: 100%;
    position: absolute;
    right: -20%;
    background-color: rgba(204, 187, 170, 1);
    transform: skew(-19.5deg, 0);
    z-index: -10;
}
.banner-test {
    background-color: rgba($som-green, 0.94);
}
.banner-text {
    position: relative;
    
    padding-top: $space-5;
    padding-bottom: $space-5;
}
//Custom utlis
.image-overlay, .angle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10;
    background-blend-mode: overlay;

}
.image-overlay {
    background-color: rgba($black, 0.32);
    &.image-overlay--dark {
        background-color: rgba($black, 0.52);
    }
    &.image-overlay--light {
        background-color: rgba($black, 0.22);
    }
   
}
.angle-overlay {
   @include desktop {
       transform: skewX(-19.5deg);
    }    
    @each $name, $pair in $colors {
         $color: nth($pair, 1);
         &.is-#{$name} {
            background-color: rgba($color, 0.7);    
         }
    }
        

    @include desktop {
        &.is-half {
            max-width: 57%;
            margin-left: -6%;
        }        
    }
}

/* SVG Icons */
.svg-icon-wrap {
    display: -ms-inline-flex;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
/* Override Bulma class to style svgs */
.icon.icon--svg {
    max-width: 100%;
    max-height: 100%;
    &.is-inline-icon, &.is-inline-icon--large-text, &.is-inline-icon {
        position: relative;
        height: 1rem;
        width: 1rem;
        bottom: -(1rem * 0.15);
    }
    svg {
        max-height: 100%;
        max-width: 100%;
        text {
            display: none; 
        } 
            
    }
    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      &.has-icon-#{$name} {
        svg {
            fill: $color; 
        }
      }
    }
}

//Custom components 
/* Site index - not for build */
.site-index-section {
    a {
      color: $light-10;
      &:hover, &:focus, &:active {
          color: $white;
      }
    }
}
.section, section {
    &.has-reverse-fill {
        color: $white;
        a {
          color: $light-10;
          &:hover, &:focus, &:active {
              color: $white;
          }
        }   
    } 
}
/* Hero block */ 
.hero-title {
    @include feature-font($garamond-prem, 500);
    font-size: $size-1;
    font-weight: 200;
    margin-bottom: $space-4;
    margin: 0;
    line-height: 1;
    transition: visibility 250ms ease-out;
    margin-top: flat-margin($size-0, 1.1);
    margin-bottom: $space-3;
}
.hero-subtext {
    font-size: $size-5;
    font-weight: $weight-light;
    margin-bottom: $space-3;
    color: $white;
}
.hero-image {
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .hero-body {
        position: relative;
        color: $white;
        z-index: 20;
    }
    .hero-foot {
        position: relative;
        bottom: 0;
        color: $white;
        font-size: $size-7;
        text-transform: uppercase;
        font-weight: 200;
        padding-top: $space-1;
        padding-bottom: $space-1;
        background-color: rgba($black, 0.32);
        z-index: 20;
        text-align: center;
        .svg-icon--scroll {
            max-height: 3.815rem;
            span {
                margin-bottom: $space-11;
            }
            svg {
                max-height: 1.953rem;
                fill: $white;
            }
        }
    }
}
@media screen and (min-width: $tablet) {
    .hero-title {
        font-size: $size-0;
    }
  
}
@media screen and (min-width: $desktop) {
    .hero {
        &.is-fullheight {
            .container {
                .content-wrap {
                    align-self: flex-start;
                    max-width: 82%       
                }
                
            }
        }   
    }     
}
/** Site gateway cards **/
.site-gateways {
    padding-top:     $space-5*1;
    padding-bottom:  $space-5*2;
}
.site-gateway__card {
    border: 1px solid $light-8;
    .card-heading {
        font-size: $size-5;
        margin-bottom: $space-1;
    }
    .card-content {
        text-align: center;
        p {
            margin-bottom: 0;
        }
        border-bottom: 3px solid $som-green;
    }
    .card__anchor {
        color: transparent;
        * {
            color: $text;        
        }
    }
    &:hover, &:focus, &:active {
        background-color: darken($card-background-color, 2.5%)
    }
}
/** Audience navigation **/
.audience-navigation {
    padding-top: 0;
    padding-bottom: 0;
    color: $white;
    border-bottom: 4px solid $som-yellow; 
    a {
      color: inherit;
    }
    .audience-nav__toggle {
        
    }
    //Toggle nav body 
    .show-more-icon {
        display: none;
        
    }
    .icon {
        -ms-flex:  0;
        flex-grow: 0;
        height: $size-4;
        width:  $size-4;
        svg {

            overflow: hidden;
        }
    }
    &.is-open {
        .show-more-icon {
                display: block;
        }
        .show-less-icon {
                display: none;
        }
        .audience-navigation__body-wrap {
            display: block;
        }
    }
    
}
.audience-navigation__top-wrap, .audience-navigation__body-wrap {
    margin-left: -$gutter-width/2;
    margin-right: -$gutter-width/2;
}

.audience-navigation__top-wrap {
    background-color: $black;
    padding-top:     $space-1;
    padding-bottom:  $space-1;
}
.audience-navigation__body-wrap {
    background-color: $gray-32;
    display: none;
}
.audience-nav__heading { 
    @include make-flexbox($direction: row, $justify: space-around, $align: center);
    .audience-nav__heading-text {
        font-size: $size-4;
        margin-bottom: 0;
        -ms-flex: 1;
        flex-grow: 1;   
    }
    .audience-nav__toggle {
        display: block;
        max-height: $size-3;
        max-width:  $size-3;
       
    }   
}
.audience-navigation__body {
    padding-top:    $space-4;
    padding-bottom: $space-4;
    .column {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    li {
        margin-bottom: $space-2;
    }
        
}



/** Featured programs cards **/
.featured-programs {
    background-color: $light-10;
    padding-top:     $space-5*1.5;
    padding-bottom:  $space-5*2;
    @media screen and (min-width: 700px) {
        padding-top:     $space-6;
        padding-bottom:  $space-6*1.8;
    }
    @include desktop {
        padding-top:     $space-6*1.6;
    }
    
    @include boxShadow($black, top, insetBottom) ; 

    .featured-programs__outer-columns {
        display: block;
        @include desktop { 
            @include make-flexbox($direction:row, $align: stretch);
        }        
    }

    .featured-programs__column {
        padding-left:  $gld-7; 
        padding-right: $gld-7; 
        @media screen and (min-width:  540px) {
            padding-left:  $gld-6; 
            padding-right: $gld-6; 
        }
        @include desktop {
           padding:  ($space-2 / 2) $column-gap; 
        }
        &.featured-programs-cards {
            .column {
                padding: 0;
               
            }
            @media screen and (min-width:  540px) {
 
                > .columns {
                    display: flex;
                }        
            }
            @include desktop {
                padding-left:  $gld-5; 
                padding-right: $gld-5; 
            }

        }
        &.featured-programs__intro--column {
            @include desktop {
                @include make-gl-col();
                padding-left:  $gl-xsmall/3; 
                padding-right: $gl-xsmall/3; 
                .featured-programs-cards__intro {
                    height: 100%;
                    @include  make-flexbox;
                    
                }
            }
        }
    }
}
.featured-programs-cards__intro {
    margin-bottom: $space-6;            
    @include desktop {
        margin-bottom: auto;            
    }

}
.featured-programs-card {
    text-align: right;
    position: relative;
    overflow: hidden; 
    
    .card-image {
        figure {
            @include make-image-container(120%);
            @include desktop{
                padding-top: 142%;
            }
        }
    }
    .card-content {
        color: $white;
        
         padding-bottom:  $space-2;
         padding-right: $gutter-width/1.25;
         padding-left: $gutter-width/1.25;
         padding-top: $gutter-width/1.25;
         background-color: transparent;
         position: absolute;
         bottom: -8.6rem;
         left: 0;
        z-index: 20;
        width: 100%;
        .card-heading {
            font-family: $garamond-prem;
            font-size: $size-3;
            margin-bottom: $size-9;
        }
        p {
            margin-bottom: $space-11;
        }
        .card-content__read-more {
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        transition: background-color 260ms ease-out, bottom 280ms ease-out;
        
        @include desktop {
            bottom: -11.5rem;
        }
        @include widescreen {
            bottom: -10rem; 
        }
    }
    transition: transform 240ms ease-out 40ms;
    &:hover, &:active, &:focus {
        transform: scale(1.1);
//        box-shadow: 0 24px 65px 0 rgba(16,16,17,.29);
          -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 16px    -2px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 16px         -2px rgba(0,0,0,0.75);
        overflow: visible;
        z-index: 30;
        .card-content {
            bottom: 0rem;
            background-color: $som-green;

        }
    }
    
}

/** Diversity feature **/
.diversity-feature {
    color: $white;
    background-image: url(../media/img/diversity-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media screen and (min-width: 720px) {
        .diversity-feature__column {
            max-width: 50%;
        }        
        .angle-overlay {
            transform: skewX(-19.5deg);
            width: 68%;
            margin-left: -8%;
        }
    }

}
    


/** News and events features **/
.news-and-events-feature { 
    @include boxShadow($black, insetTop);
}
.news-slider {
    margin-bottom: 3rem;
    .news-slider__slick {
        padding-bottom: $space-4;
    }
    .news-slider__controls {
        position: absolute;
        margin-right: $gutter-width;
        right: 0;
        bottom: 2rem;
    }
    .news-slider__control {
        width:  $space-5;
        height: $space-5;
        border: none;
        background-color: $grey-light;
        
        &:hover, &:active, &:focus {
            background-color: $grey-lighter;
        }
    }
    .slick-list {
     
    }
    .slick-dots {
        background-color: $black;
        color: $white;
        position: absolute;
        width: calc(100% - (0.768rem*2));
        padding-top: $space-1;
        padding-bottom: $space-1;
        left: 0.768rem;
        bottom: -$space-4;
        text-align: center;
        @include make-flexbox($direction: row, $align: center) ;
        > li {
            padding-right: $space-1/2;
            padding-left: $space-1/2;
            min-height: 25px;
            min-width: 25px;
            @include make-flexbox();
        }
        button {
            font-size: 0;
            padding: $space-1;
            border: none;
            background-color: $light-8;
            color: $light-8;
            border-radius: 50%;
            &:hover, &:active, &:focus {
                background-color: darken($light-8, 10%);
                color: darken($light-8, 10%);
            }
        }
        .slick-active {
            button {
                background-color: $white;
                color: $white;
            }
        }
    }
}
.news-slider__slide {
    widt: 100%;
    width: 100vw;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    /*@include widescreen {
        max-width: 1152px;
    }
    @include fullhd {
        max-width: 1344px;
    }*/
}
.news-slider__image {
    height: auto;
}

.news-listing--featured {
    .read-more-link {
        color: $som-grana;
    }
}

.slick-dots-container {
    position: absolute;
    bottom: 0;
    left: 0;
    @include tablet {
        @include make-flexbox($direction: row);
        .slick-dots {
            
        }
    }
}
.news-slider__story {
    position: relative;
    padding: $gutter-width $gutter-width /2;
    color: $white;
    .news-label, .news-date {
        text-transform: uppercase;
        display: inline-block;
        color: $light-10;
        font-size: $size-7;
    }
    .news-label {
        margin-bottom: $space-2;
        
    }
    .news-slider__story__title {
        font-size: $size-5;
        margin-bottom: $space-2;
    }
    
    //Background fill
    &::before {
        content: " ";
        background-color: $grey-darker;
        display: block;
        width: 100%;
        height: 100%;        
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }
}
@include tablet {
    .news-slider__story {
        justify-content: flex-end; 
        position: absolute;
        right: 0 + (0.768rem); 
        top: 0;
        height: 100%;
        width: 50%;        
        @include make-flexbox($align: flex-end) ; 
        text-align: right;
        z-index: 10;
        overflow: hidden;
        padding-right: $gl-xsmall/4;
        padding-left:  $gl-xsmall;
        .news-slider__story__text {
//            width: $gl-xlarge;
        }
        &::before {
            width: 120%;
            left: 19.5%;
            transform: skewX(19.5deg); 
        }
    }
}
@include desktop {
    .news-slider__story {
        height: auto; 
        top: 50%;
        @include vertical-align($shiftX: 0);
        padding-left: $gl-xsmall/2;
        &::before {
            width: 100%;
            left: (19.5%/2);
            transform: skewX(19.5deg); 
        }
    }
}
@include widescreen {
   .news-slider__story {
        width: $gl-med+(19.5%/2); 
        padding-top: $gl-xsmall/4;
        padding-bottom: $gl-xsmall/4;
        height: auto; 
        top: 50%;
        @include vertical-align($shiftX: 0); 
    }
}
@include fullhd {

}
/** News and events feature listing **/
.news-events--listing {
    > .columns {
        @include widescreen {
            -ms-display: flex;
            display: flex;
        }
    }
    .column {
        padding-top: 0;
        padding-bottom: 0;
//        border-top: 1px solid $black;
        @include widescreen {
            @include make-flexbox($direction: column, $justify: space-between, $align: stretch);
        }
    }
    .news-listing-column, .events-listing-column {
        margin-bottom: $space-2;
        @include widescreen { 
            margin-bottom: 0
        }
    }
    @include widescreen {
        .news-listing-column {
            flex: none;
            width: $gl-xlarge;
        }
    }

    .news-events--listing__heading {
        width: 100%;
        font-size: $size-4;
        font-weight: 400;
        padding-top: $space-1;
        padding-bottom: $space-1;
        margin-bottom: $space-2;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        
    }
    .news-listing__items {
        @include tablet {
            column-count: 2;    
        }
    }
    .news-listing__items, .events-items {
        flex-grow: 2;    
    }    
    .news-listing__item, .events-listing__item {
        padding-top: $space-11;
        @include make-fullwidth-box;
        margin-bottom: $space-1;
        transition: background-color 120ms ease-out;
        &:hover {
            background-color: $light-8;
        }
        p {
             margin-bottom: $space-11;
        }
    }
    .news-listing__title, .events-listing__title {
        font-size: $size-6;
        margin-bottom: $space-11;
        > a {
            color: $som-grana;
        }
    }
    .events-items {
        @include tablet {
            column-count: 2;  
        }
        @include widescreen {
            column-count: 1;  
        }
    }
    .events-listing__item {
        @include make-flexbox($direction: row, $justify: flex-start);
    }
    .events-listing__date {
        flex: none;
        width: $gl-small;
        @include tablet-only {
            width: $gl-xsmall;
        }
    }
    .event-day, .event-month {
        text-align: center;
        display: block;
    }
    .event-day {
        font-size: $size-4;
        font-weight: 500;
        text-align: center;
        padding-top:   $space-1;
        padding-bottom:$space-1;
        background-color: rgba($som-grana, 0.84);
        color: $som-grana-invert;
        
    }
    .event-month {
        background-color: $light-10;
        padding-left: $space-11;
        padding-right: $space-11;
        
    }
    .event-details {
        padding-left: $gutter-width;
    }
    hr {
        background-color: $grey-dark;
        margin: 0;
        margin-top: 0;
        @include widescreen {
            @include make-fullwidth-box();    
        }
        
    }
    .read-more-block {
        @include makeBoxShadow($black,  0px -12px 36px -16px);
        margin-top: $space-4;
        background-color: $light-10;
        padding-bottom: $space-11;
        transition: background-color 120ms ease-out;
        &:hover {
             background-color: $light-8;
        }
        @include widescreen {
            @include make-fullwidth-box();    
        }
    }
    .read-more-link {
        color: $som-grana;
        font-weight: 500;
    }
}
.deans-message-feature {
    background-color: $som-green;
    color: $som-green-invert;
    .read-more-link {
        font-size: 1rem;
        text-transform: none;
        font-weight: 500;
        color: inherit;
    }
    .deans-message__content {
        @include tablet {
            @include make-flexbox($direction: row, $justify: flex-start, $align: stretch); 
            .deans-image {
                flex: none;
                width: $gl-small;
                img {
                    width: 100%;
                }
            }
            .deans-meassage {
                padding-left: $gutter-width*2;
                @include make-flexbox($direction: column);
            }
        }
    }
    .deans-meassage {
        background-color: $white;
        color: $black; 
    }
    
}

/** 
    A-Z links
**/
.a-z-navigation {
    @include make-flexbox($direction:row, $justify: space-around, $align: start, $wrap: wrap);
    a {
        text-transform: uppercase;
        color: inherit;
        border-colour: inherit;
        background-colour: inherit;
        width: 18%;
        padding-top:     $space-11;
        padding-bottom:  $space-11;
        margin-bottom:  $space-11;
        border-width: 1px;
        border-style: solid;
        
        -ms-flex: 0;
        flex-grow: 0;
        display: inline-flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        
        align-items: center;
        
        transition: background-color 100ms ease-out;
    }
    
}
/*** 
 *   Site footer 
***/
.vcu-som-footer {
    background-color: $grey-dark;
    color: $white;
    .footer__heading {
        font-size: $size-4;
    }
    .footer__school-name {
        font-family: $feature-font-serif;
        font-size: $size-3;
    }
    .footer__a-z__links {
        a {
            border-color: $white;
             width: 18%;
            &:hover, &:active, &:focus {
                background-color: lighten($grey-dark, 10%);
            }
        }
    }
    a {
        color: $white;
        font-weight: 500;
    }
}