//Bulma imports
@import "../../../lib/bulma/sass/utilities/initial-variables";
@import "../../../lib/bulma/sass/utilities/functions";

//Project modules - overrides for Bulma initial variables
@import 'modules/fonts'; 
@import 'modules/spacing';
@import 'modules/colors';
@import 'modules/functions-mixins';

//Bulma imports
@import "../../../lib/bulma/sass/utilities/_all";
@import "../../../lib/bulma/sass/base/_all";
@import "../../../lib/bulma/sass/layout/_all";
@import "../../../lib/bulma/sass/grid/_all";
@import "../../../lib/bulma/sass/elements/_all";
@import "../../../lib/bulma/sass/components/_all";

* {
      box-sizing: border-box; 
  }
  html {
      font-size: 14px;
  }
  body {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-color: $gray-32;
      line-height: 1.5;
  }
  
  @media screen and (min-width: $tablet) {
      html {
          font-size: 16px;
      }   
  }
  @media screen and (min-width: $desktop) {
      html {
          font-size: 18px;
      }   
  }            
  @media screen and (min-width: $fullhd) {
      html {
          font-size: 22.5px;
      }   
  }
  h1, h2, h3, h4, h5 {
    font-family: $family-primary;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-font, feature-font--sans-serif { 
    transition: visibility 250ms ease-out;
}
.feature-font--sans-serif {
    font-family: $azo-sans;
}
.wf-loading .feature-font, .wf-loading .feature-font--sans-serif {
    visibility: hidden;
}
p, li {
    font-size: 1rem;
}
p {
    font-size: 1rem;
    margin-bottom: $space-3;
}
h1 {
    font-family: $family-primary;
    font-size: 2.369rem;
    margin-bottom: $space-3;
}
h2 {
    font-size: 1.777rem;
}
h3 {
    font-size: 1.333rem;
}
.section__title {
    font-family: $family-serif;
    font-size: 2.441rem;
     margin-bottom: $space-1;
}
.section__label {
    font-size: $size-8;
    text-transform: uppercase;
    font-weight: 400;
    color: $grey;
}
.section__title--featured {   
    .section__title {
        > span {
            padding-left:     0.768rem *2;
            padding-right:    0.768rem * 2;
            margin-left: -0.768rem * 2;
            background-color: $som-green;
            color: $som-green-invert;
            border-radius: (2.441rem + (2.441rem * 1.3)) / 2;
            
        }
    }
}



.vcu-angle {
    width:  0; 
    height: 0; 
    border-top:     60px solid    rgba(170, 187, 204, 1);
    border-bottom:  60px solid    rgba(187, 204, 170, 0.5);
    border-left:    60px solid    rgba(204, 187, 170, 0.5);
    border-right:   60px solid    rgba(170, 204, 187, 0.5);
    
}
.vcu-skewed {
    width:  25%;
    height: 100vh;
    position: relative;
    background-color: rgba(170, 187, 204, 1);
/* transform: skewX(-19.5deg);*/
}
.vcu-skewed::after {
    content: "";
    width:  100%;
    height: 100%;
    position: absolute;
    right: -20%;
    background-color: rgba(204, 187, 170, 1);
    transform: skew(-19.5deg, 0);
    z-index: -10;
}
.banner-test {
    background-color: rgba($som-green, 0.94);
}
.banner-text {
    position: relative;
    
    padding-top: $space-5;
    padding-bottom: $space-5;
}
//Custom utlis
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba($black, 0.32);
    z-index: 10;     
    &.image-overlay--dark {
        background-color: rgba($black, 0.52);
    }
    &.image-overlay--light {
        background-color: rgba($black, 0.22);
    }
}

//Custom components 
/* Site index - not for build */
.site-index-section {
    a {
      color: $light-10;
      &:hover, &:focus, &:active {
          color: $white;
      }
    }
}
.section, section {
    &.has-reverse-fill {
        color: $white;
        a {
          color: $light-10;
          &:hover, &:focus, &:active {
              color: $white;
          }
        }   
    } 
}
/* Hero block */ 
.hero-title {
    @include feature-font($garamond-prem, 500);
    font-size: $size-1;
    font-weight: 200;
    margin-bottom: $space-4;
    margin: 0;
    line-height: 1;
    transition: visibility 250ms ease-out;
    margin-top: flat-margin($size-0, 1.1);
    margin-bottom: $space-3;
}
.hero-subtext {
    font-size: $size-5;
    font-weight: $weight-light;
    margin-bottom: $space-3;
    color: $white;
}
.hero-image {
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .hero-body {
        position: relative;
        color: $white;
        z-index: 20;
    }
    .hero-foot {
        position: relative;
        bottom: 0;
        color: $white;
        font-size: $size-7;
        text-transform: uppercase;
        font-weight: 200;
        padding-top: $space-1;
        padding-bottom: $space-1;
        background-color: rgba($black, 0.32);
        z-index: 20;
        text-align: center;
        .svg-icon--scroll {
            max-height: 3.815rem;
            span {
                margin-bottom: $space-11;
            }
            svg {
                max-height: 1.953rem;
                fill: $white;
            }
        }
    }
}
@media screen and (min-width: $tablet) {
    .hero-title {
        font-size: $size-0;
    }
  
}
@media screen and (min-width: $desktop) {
    .hero {
        &.is-fullheight {
            .container {
                .content-wrap {
                    align-self: flex-start;
                    max-width: 82%       
                }
                
            }
        }   
    }     
}
/** Site gateway cards **/
.site-gateway__card {
    border: 1px solid $light-8;
    .card-heading {
        font-size: $size-5;
        margin-bottom: $space-2;
    }
    .card-content {
        text-align: center;
        p {
            margin-bottom: 0;
        }
        border-bottom: 3px solid $som-green;
    }
    .card__anchor {
        color: transparent;
        * {
            color: $text;        
        }
    }
}
/** Featured programs cards **/
.featured-programs-cards {
    background-color: $light-10;
}

/* SVG Icons */
.svg-icon-wrap {
    display: -ms-inline-flex;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


.banner-text-before, .banner-text-after {
    position: absolute;
}
.banner-text-before {
    z-index: -5;
    top: 0;
    left: -72%;
    width: 100%;
    height: 50vh;
    transform: skewX(-19.5deg);
}
.banner-text-before::before {
    content: " ";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0.84;
}
.banner-text-after {
    top: 50%;
    right: -19.5%;
    width: 100%;
    height: 40vh;
    transform: translateY(-50%);
    padding-left: 16%;
    padding-top: 4.959rem;
    padding-bottom: 4.959rem;
}
.banner-text-after::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(19.5deg);
    background-color: $som-green;
    opacity: 0.84;
     z-index: -10;
}
            
