/*.is-gl-large	{ width: $gld-10 }
.is-gl-xlarge	{ width: $base - ($gld-7 + $gld-7) }
.is-gl-med	    { width: $gld-9 }
.is-gl-small	{ width: $gld-8 }
.is-gl-xsmall	{ width: $gld-7 }*/

.column {
    @include tablet {
        &.is-gl-large {
            flex: none;
            width: $gld-10;
        }
        &.is-gl-xlarge {
            flex: none;
            width: $base - ($gld-7 + $gld-7)
        }
        &.is-gl-med {
            flex: none;
            width: $gld-9;
        }
        &.is-gl-small {
            flex: none;
            width: $gld-8;
        }
        &.is-gl-xsmall {
            flex: none;
            width: $gld-7;
        }
    }
    @include desktop {
        &.is-gl-large--desktop {
            flex: none;
            width: $gld-10;
        }
        &.is-gl-xlarge--desktop {
            flex: none;
            width: $base - ($gld-7 + $gld-7)
        }
        &.is-gl-med--desktop {
            flex: none;
            width: $gld-9;
        }
        &.is-gl-small--desktop {
            flex: none;
            width: $gld-8;
        }
        &.is-gl-xsmall--desktop {
            flex: none;
            width: $gld-7;
        }
    }
}
//Extended columns
.columns {
    &.is-widescreen {
        display: inherit;
    }
    @include tablet {
          &:not(.is-widescreen) {
              display: -ms-flexbox;
              display: flex;
          }
    }
    @include desktop {
        // Modifiers
        &.is-desktop {
          display: -ms-flexbox;
          display: flex;
        }
    }
    @include widescreen {
        &.is-widescreen {
          display: -ms-flexbox;
          display: flex;
        }
    }
  
}
//Modifier classes extended to work in IE10
.column {

    -ms-flex: 1 1 auto;
    &.is-narrow-mobile, &.is-full-mobile, &.is-three-quarters-mobile, &.is-two-thirds-mobile, &.is-half-mobile, &.is-one-third-mobile, &.is-one-quarter-mobile, &.is-one-fifth-mobile, &.is-two-fifths-mobile, &.is-three-fifths-mobile,&.is-four-fifths-mobile {
        -ms-flex: none;
        flex: none;
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-mobile {
        -ms-flex: none;
        flex: none;
      }
    }
    &.is-narrow,
    &.is-narrow-tablet {
      -ms-flex: none;
      flex: none;}
    &.is-full,
    &.is-full-tablet{
      -ms-flex: none;
      flex: none;}
    &.is-three-quarters,
    &.is-three-quarters-tablet {
      -ms-flex: none;
      flex: none;}
    &.is-two-thirds,
    &.is-two-thirds-tablet {
      -ms-flex: none;
      flex: none;
    }
    &.is-half,
    &.is-half-tablet {
      -ms-flex: none;
      flex: none;
    }
    &.is-one-third,
    &.is-one-third-tablet {
      -ms-flex: none;
      flex: none;}
    &.is-one-quarter,
    &.is-one-quarter-tablet{
      -ms-flex: none;
      flex: none;
    }
    &.is-one-fifth,
    &.is-one-fifth-tablet{
      -ms-flex: none;
      flex: none;}
    &.is-two-fifths,
    &.is-two-fifths-tablet{
      -ms-flex: none;
      flex: none;}
    &.is-three-fifths,
    &.is-three-fifths-tablet{
      -ms-flex: none;
      flex: none;}
    &.is-four-fifths,
    &.is-four-fifths-tablet{
      -ms-flex: none;
      flex: none;}
    @for $i from 1 through 12{
      &.is-#{$i},
      &.is-#{$i}-tablet{
        -ms-flex: none;
        flex: none;}
    }

    &.is-narrow-touch { 
      -ms-flex: none;
      flex: none;}
    &.is-full-touch{
      -ms-flex: none;
      flex: none;}
    &.is-three-quarters-touch{
      -ms-flex: none;
      flex: none;}
    &.is-two-thirds-touch{
     -ms-flex: none;
      flex: none;}
    &.is-half-touch {
      -ms-flex: none;
      flex: none;}
    &.is-one-third-touch{
      -ms-flex: none;
      flex: none;}
    &.is-one-quarter-touch{
      -ms-flex: none;
      flex: none;}
    &.is-one-fifth-touch {
      -ms-flex: none;
      flex: none;}
    &.is-two-fifths-touch{
      -ms-flex: none;
      flex: none;}
    &.is-three-fifths-touch {
      -ms-flex: none;
      flex: none;}
    &.is-four-fifths-touch{
      -ms-flex: none;
      flex: none;
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-touch {
         -ms-flex: none;
          flex: none; }
    }


    &.is-narrow-desktop{
       -ms-flex: none;
      flex: none;}
    &.is-full-desktop{
       -ms-flex: none;
      flex: none;}
    &.is-three-quarters-desktop{
       -ms-flex: none;
      flex: none;}
    &.is-two-thirds-desktop{
       -ms-flex: none;
      flex: none;}
    &.is-half-desktop {
       -ms-flex: none;
      flex: none;}
    &.is-one-third-desktop {
       -ms-flex: none;
      flex: none;}
    &.is-one-quarter-desktop {
       -ms-flex: none;
      flex: none;}
    &.is-one-fifth-desktop {
       -ms-flex: none;
      flex: none;}
    &.is-two-fifths-desktop {
       -ms-flex: none;
      flex: none;}
    &.is-three-fifths-desktop {
       -ms-flex: none;
      flex: none;}
    &.is-four-fifths-desktop {
       -ms-flex: none;
      flex: none;}
    @for $i from 1 through 12 {
      &.is-#{$i}-desktop {
        flex: none;
        width: ($i / 12) * 100%;
      }
    }


    &.is-narrow-widescreen {
      -ms-flex: none;
      flex: none ;
    }
    &.is-full-widescreen {
      -ms-flex: none;
      flex: none;
    }
    &.is-three-quarters-widescreen {
      -ms-flex: none;
      flex: none;
    }
    &.is-two-thirds-widescreen {
      -ms-flex: none;
      flex: none;
    }
    &.is-half-widescreen {
      -ms-flex: none;
      flex: none;
    }
    &.is-one-third-widescreen{
      -ms-flex: none;
      flex: none;
    }
    &.is-one-quarter-widescreen{
      -ms-flex: none;
      flex: none;
    }
    &.is-one-fifth-widescreen{
     -ms-flex: none;
      flex: none;
    }
    &.is-two-fifths-widescreen{
      -ms-flex: none;
      flex: none;
    }
    &.is-three-fifths-widescreen {
      -ms-flex: none;
      flex: none; 
    }
    &.is-four-fifths-widescreen {
      -ms-flex: none;
      flex: none;
    }
    @for $i from 1 through 12 {
      &.is-#{$i}-widescreen {
        -ms-flex: none;
        flex: none;
      }
    }


    &.is-narrow-fullhd, &.is-full-fullhd, &.is-three-quarters-fullhd, &.is-two-thirds-fullhd, &.is-half-fullhd, &.is-one-third-fullhd, &.is-one-quarter-fullhd, &.is-one-fifth-fullhd, &.is-two-fifths-fullhd, &.is-three-fifths-fullhd, &.is-four-fifths-fullhd {
       -ms-flex: none;
      flex: none;
    }
 
    @for $i from 1 through 12 {
          &.is-#{$i}-fullhd {
            -ms-flex: none;
            flex: none;
          }
     }
}
.centralized-columns {
    display: block;
    @include desktop {
        > .centralized-column {        
            @include make-gl-col();
            padding-left:  $gl-xsmall/3; 
            padding-right: $gl-xsmall/3; 
        }   
    }
}