//bulma cards overrides and extensions
//flat cards
.card--flat {
    .card__anchor {
        display: block  ;
        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }

    .card-header {
        box-shadow: none ;  
    }
    .card-heading {
        margin-bottom: $space-4;
    }
    img {
            transition: transform 120ms ease-in        
    }

    &:hover, &:focus, &:active {
        cursor: pointer;
            
        .card-image {
            img {
                transform: scale(1.05);
            }
        }
        .card-content__text {
            text-decoration: underline;
        }
    }
}
.card-content__read-more {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0;
    
}
                
  
