/*.is-gl-large	{ width: $gld-10 }
.is-gl-xlarge	{ width: $base - ($gld-7 + $gld-7) }
.is-gl-med	    { width: $gld-9 }
.is-gl-small	{ width: $gld-8 }
.is-gl-xsmall	{ width: $gld-7 }*/

.column {
    @include tablet {
        &.is-gl-large {
            flex: none;
            width: $gld-10;
        }
        &.is-gl-xlarge {
            flex: none;
            width: $base - ($gld-7 + $gld-7)
        }
        &.is-gl-med {
            flex: none;
            width: $gld-9;
        }
        &.is-gl-small {
            flex: none;
            width: $gld-8;
        }
        &.is-gl-xsmall {
            flex: none;
            width: $gld-7;
        }
    }
    @include desktop {
        &.is-gl-large--desktop {
            flex: none;
            width: $gld-10;
        }
        &.is-gl-xlarge--desktop {
            flex: none;
            width: $base - ($gld-7 + $gld-7)
        }
        &.is-gl-med--desktop {
            flex: none;
            width: $gld-9;
        }
        &.is-gl-small--desktop {
            flex: none;
            width: $gld-8;
        }
        &.is-gl-xsmall--desktop {
            flex: none;
            width: $gld-7;
        }
    }
}
//Extended columns
.columns {
    &.is-widescreen {
        display: inherit;
    }
    @include tablet {
          &:not(.is-widescreen) {
              display: -ms-flexbox;
              display: flex;
          }
    }
    @include desktop {
        // Modifiers
        &.is-desktop {
          display: -ms-flexbox;
          display: flex;
        }
    }
    @include widescreen {
        &.is-widescreen {
          display: -ms-flexbox;
          display: flex;
        }
    }
  
}
  
  
.centralized-columns {
    display: block;
    @include desktop {
        > .centralized-column {        
            @include make-gl-col();
            padding-left:  $gl-xsmall/3; 
            padding-right: $gl-xsmall/3; 
        }   
    }
}