//Bulma imports
@import "../../../lib/bulma/sass/utilities/initial-variables";
@import "../../../lib/bulma/sass/utilities/functions";

//Project modules - overrides for Bulma initial variables
@import 'modules/generic/fonts'; 
@import 'modules/generic/spacing';
@import 'modules/generic/colors'; 
//Bulma imports
@import "../../../lib/bulma/sass/utilities/_all";
@import "../../../lib/bulma/sass/base/_all";
@import "../../../lib/bulma/sass/layout/_all";
@import "../../../lib/bulma/sass/grid/_all";
@import "../../../lib/bulma/sass/elements/_all";
@import "../../../lib/bulma/sass/components/_all";

@import 'modules/som-functions-mixins';
//Bulma override and extensions imports
@import "modules/bulma/elements/image";
@import "modules/bulma/elements/hero";
@import "modules/bulma/elements/container";
@import "modules/bulma/elements/columns";
@import "modules/bulma/elements/section";
@import "modules/bulma/elements/cards";
@import "modules/bulma/elements/icon";
@import "modules/bulma/elements/navbar";
//SoM content component imports
@import 'modules/generic/som-utils';
@import 'modules/generic/generic-styling';
@import 'modules/structure/header'; 
@import 'modules/structure/multi-col-layouts';
@import 'modules/som-elements/som-buttons'; 
@import 'modules/som-elements/navigation-schemes';  
@import 'modules/som-elements/som-cards';  
@import 'modules/som-elements/heros';  
@import 'modules/som-elements/som-lightbox';  
@import 'modules/som-elements/sliders';  
@import 'modules/som-elements/news-and-events';   
@import 'modules/som-elements/programs-cards';  
@import 'modules/som-elements/som-accordion';  
@import 'modules/structure/footer';  


/** Diversity feature **/
.feature-section--vision-graphic {
    &.is-narrow {
        .feature__column {
            padding-top:     $space-5;
            padding-bottom:  $space-5;
        }
    }
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    color: $white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    .section__title, .section__intro {
        margin-bottom: $space-4;
    } 
    .section__intro {
        border-bottom: none;
    }
    .feature__column {
        padding-top:     $space-6;
        padding-bottom:  $space-6;
        position: relative;
        z-index: 5;
        &:before {
            position: absolute;
            content: " ";
            display: block;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
        
    }//.feature-column
   
    @include tablet {
        .feature__column {
            padding-top:     $space-8;
            padding-bottom:  $space-8;
            max-width: 50%;
            &:before {
                width: 180%;
                left: -70%;
                right: auto;
                transform: skewX(-19.5deg); 
            }
        }
        .columns {
            &.pull-right {
                -ms-flex-pack: end;
                justify-content: flex-end;
                .feature__column {
                    &:before {
                        width: 200%;
                        left: auto;
                        right: -80%;
                        transform: skewX(-19.5deg); 
                    }
                }
            }
            margin-bottom: 0;
        }
    }
}
/* Static landing page feature */ 
.feature-section--fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 10000; 
    padding: 0;
    .container {
        max-width: none;
    }
    .columns {
        margin-bottom: 0;
        position: relative;
    }
    .feature-section--fixed__content {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        @include boxShadow($black, insetBottom);
        @include has-background-image($size: contain);
        background-position: center right;
        .button {
            margin-bottom: $space-4;
        }
    }
    @include touch {
        &.is-active {
            .feature-section--fixed__content {
                padding-bottom: 50%;
                max-height: none;
                visibility: visible;
                .button {
                    margin-bottom: $space-4;
                }
            }         
        }  
        .feature-section--fixed__content {
            padding-bottom: 0;
            background-position: center bottom;
            max-height: 0;
            visibility: hidden;
            transition: max-height 280ms ease-out, visibility 280ms ease-out 120ms;
            .button {
                margin-bottom: $space-4;
            }
        } 
    }
    .feature-section--fixed__text-container {
        padding-top: $space-4;
        padding-left:  $gutter-width;
        padding-right: $gutter-width; 
        
        position: relative;
        z-index: 3; 
        &:before {
            content: " ";
            display: block;
            position: absolute;
            height: 100%;
            width: 40%;
            top: 0;
            left: auto;
            right: -19.5%;
            transition: background-color 280ms ease-out; 
            transform: skewX(-19.5deg);
            z-index: -1;
        }
    }
    .fixed-feature__heading {
        font-family: $family-serif;
        font-size: $size-3;
        width: 95%;
        font-style: italic;
        margin-bottom: 0;
        text-align: center;
        @include desktop {
            font-size: $size-4;
            width: auto;
        }
    }
    .tab-column {
        &.tab-column__mobile {
            padding-top: $space-2;
            padding-left:  $gutter-width;
            padding-right: $gutter-width;
            padding-bottom: $space-1;
            border-top-left-radius:  50%;
            border-top-right-radius: 50%;
            transition: background-color 280ms ease-out;
        }
        &.tab-column__desktop {
            display: none;
        }
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.has-#{$name}-background {
            background-color: transparent;
            .tab-column { 
                background-color: $color;
                color: $white;
                @include active-link {
                    background-color: darken($color, 5%);
                }  
            }
            .feature-section--fixed__content {
                background-color: $color;
                color: $white;
            }
        }
     }
    .feature-section--fixed__toggle {
        @include make-flexbox($direction: row, $justify: space-between, $align: center);    
        @include desktop {
            
            
            
        }
            
    }
    @include desktop {
        bottom: 100px;
        right: -90%; 
        transition: right 520ms ease-out; 
        &.is-active {
            right: 0;
        }
        @media screen and (min-width: 1240px) { 
            right: -86%; 
        } 
        @media screen and (min-width: 1320px) {
            right: -83%; 
        } 
        @media screen and (min-width: 1360px) {
            right: -80%; 
        } 
        @media screen and (min-width: 1420px) {
            right: -77%; 
        } 
        @media screen and (min-width: 1480px) {
            right: -74%; 
        }  
        @media screen and (min-width: 1560px) {
            right: -71%; 
        }
        @media screen and (min-width: 1610px) {
            right: -67%; 
        } 
        @media screen and (min-width: 1700px) {
            right: -64%; 
        } 
        @media screen and (min-width: 1790px) {
            right: -61%; 
        } 
        @media screen and (min-width: 1890px) {
            right: -58%; 
        } 
        @media screen and (min-width: 2000px) {
            right: -55%; 
        } 
        .container {
            margin: 0;
        }
        .feature-section--fixed__content {
            padding-bottom: 0;
            background-position: right center;
            
            color: white;
            border-bottom-left-radius: 12rem;
            border-top-left-radius: 12rem;
        }
        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            $color-invert: nth($pair, 2);
            &.has-#{$name}-background {
                .tab-column {
                    &.tab-column__desktop {
                        background-color: transparent;
                    }
                }
                .feature-section--fixed__content {
                    background-color: transparent;
                }
               .feature-section--fixed__text-container {
                    background-color: $color;
                    color: $color-invert;
                    &::before {
                        background-color: $color;
                    }
                }
            }
        }
        .feature-section--fixed__text-container {
            
            max-width: ($gl-med + $gld-6);    
            padding-left:  $gutter-width;
            padding-left: 8rem;
            padding-right: 0; 
            padding-bottom: $gutter-width;
            border-bottom-left-radius: 12rem;
            border-top-left-radius: 12rem;
        }
        .tab-column {
            &.tab-column__mobile {
                display: none;    
            }
            &.tab-column__desktop {
                display: inherit;
                .feature-section--fixed__toggle {
                    -ms-flex-direction: column;
                    flex-direction: column;
                }
                .feature-section--fixed__hide {
                    display: -ms-flex;
                    display: flex;
                    -ms-flex-pack: center;
                    justify-content: center;
                    font-size: $size-9;
                    width: 100%;
                    color: $gray-a;
                    .icon.icon--svg {
                        margin-left: $gutter-width/2;
                        max-width: $size-8;
                        max-height: $size-8;
                        stroke: $gray-a; 
                        fill:   $gray-a;
                    }
                    
                    .show-less-icon {
                        display: inherit;
                    }
                    margin-bottom: $space-3;
                    
                }
                .tab-column__text {
                    display: -ms-flex;
                    display: flex;
                    -ms-flex-pack: center; 
                    justify-content: center;
                    -ms-flex-align: center;
                    align-items: center;
                    width: 100%;
                    
                    .icon.icon--svg {
                        margin-left: $gutter-width/2;
                        max-height: 100%;
                        max-width:  $size-3;
                    }
                }
                
                background-color: transparent;
                transform-origin: left bottom;
                transform: rotate(270deg);
                position: absolute;
                top: 65%;
                left: 22.5%;
                z-index: 20;
                width: 50%;
                
                 @media screen and (min-width: 1220px) {
                    top: 70%;
                    left: 18%;
                } 
                
            }
           
        }
        .feature-section--fixed__toggle {
            position: relative;
            top: -10px;
        }
    }
}

.feature-section--text-plain  {
    .section__title {
        text-align: center;
    }
    .feature-section--text-plain__buttons {
        @include make-flexbox($direction: column, $justify: stretch);
    }
    @include tablet {
        .columns {
            -ms-flex-pack : center;
            justify-content: center;
            .column {
                max-width: 850px;
                text-align: center;
                padding-bottom: 0;
                padding-top: 0;
            }   
        }
        .feature-section--text-plain__buttons {
            @include make-flexbox($direction: row, $justify: center);
        }
    }
    .button:not(:last-child) {
        margin-right: $gutter-width/2;
    }
}

/** Video slider feature **/
.video-slider-feature {
    padding-top:     $gl-xsmall; 
    padding-bottom:  $gl-xsmall; 
    .columns {
        padding:     $gld-4;
    }
    @include tablet {
        padding-top:     $gld-6; 
        padding-bottom:  $gld-6; 
        .columns {
            -ms-align-items: center;
            align-items:     center; 
        }
        .video-slider-feature__text { 
            align-self: center;
            margin-top: auto;
            margin-bottom: auto;
            
        }
    }
    @include desktop {
        .columns {
            -ms-flex-direction: column;
            flex-direction:   column;
            -ms-align-items: stretch;
            align-items:     stretch; 
        }
        .video-slider-feature__text { 
            margin-bottom: $space-5;
             max-width: none;
        }
        padding-top:     $gld-4; 
        padding-bottom:  $gld-4; 
        
    }  
    @include widescreen {
        .columns {
            -ms-flex-direction: row;
            flex-direction:   row;
            -ms-align-items: center;
            align-items:     center; 
        }
        .video-slider-feature__text { 
             margin-top: auto;
            margin-bottom: auto;
        }
    }
}

/** Plain cards feature **/
.feature-section {
    &.plain-cards-feature {
        .columns {
            @include tablet {
                -ms-flex-pack: space-around;
                justify-content: space-around;
                justify-content: space-around;
            }
        }
    }
}

.deans-message-feature {
    .vcu-vision-angle {
        
    }
    background-color: $light-10;
    @include boxShadow($black, insetTop, insetBottom);
    p {
        margin-bottom: 0;
    }
    .section__title {
        display: none;
        &.is-touch {
            display: block;
        }
        @include tablet {
            display: block;
            &.is-touch {
                display: none;
            }
        }
        
    }
    .container {
        z-index: 20;
    }
    .column {
        padding-top: 0;
        padding-bottom: 0;
    }
    .read-more-link {
        font-size: 1rem;
        text-transform: none;
        font-weight: 500;
        color: inherit;
    }
    .deans-image {
        position: relative;
        padding-top:    $space-4;
        padding-bottom: $space-4;
        padding: $space-4 $space-4; 
        max-width: 180px;
        
        .image {
            @include boxShadow($black, fullPaper);
        }
        &::before {
            content: " "; 
            position: absolute;
            top: 0;
            left: 0%;
            z-index: -10; 
            height: 100%;
            width: 100%; 
            background-color: $light-8;
            //transform: skewX(-19deg);
        }
        
    }
    .deans-meassage {
        padding-top: $space-3;
        padding-bottom: $space-3;
        @include make-flexbox($direction: column);
    }
    .message-text {
        margin-top:     $space-4;
        margin-bottom:  $space-4;
        padding: $space-4 $space-4; 
        background-color: $white;
        @include boxShadow($black, fullPaper);
    }
    .deans-messsage__text {
        font-size: $size-4; 
        margin-bottom: $space-4;
        font-weight: 200;
    }
    
    .deans-message__content { 
        -ms-flex: 1 0 auto;
        @include tablet {
            @include make-flexbox($direction: row, $justify: flex-start, $align: flex-start); 
            .deans-image {
                -ms-flex: none;
                flex: none;
                max-width: none;
                width: $gl-small;
                img {
                    width: 100%;
                }
            }
            .deans-message {
                -ms-flex: 1 0 auto;
                margin-top: 0;
                
                padding-left: $space-4;
                @include make-flexbox($direction: column, $justify: space-evenly);
                h2, h3, h4, h5, p, .message-text {
                    -ms-flex: 0 1 auto;
                }
                .message-text {
                    margin-top: 0;
                    margin-bottom: 0;
                    p {
                       -ms-flex: 0 1 auto; 
                    }
                }
            }
            .deans-messsage__text {
                padding-left: $size-4;
                margin-top:     $space-4;
                margin-bottom:  $space-4;
                border-left: 3px solid $primary;
                font-size: $size-5;
                font-weight: 400;
                @include boxShadow($black, insetLeft);
            }
            .deans-message-heading__desktop {
                font-size: $size-3;
            }
        }
    }
    .image-overlay {
        background-color: rgba($white, 0.64);
    }
}

/** Education landing page **/
.featured-programs-2 {
    padding-top: $space-4a;
     padding-bottom: $space-4;
}
.graduate-study-section {
    padding-top: 0;
    padding-bottom: $space-4;
}
.graudate-study-header-columns {
    .graudate-study-intro {
        margin-bottom: 0;
    }
    .column {
        &:first-child {
            padding-top: 0;
        }
    }
}
.graduate-study-intro {
    font-size: $size-5;
}
.feature-section--two-col-text {
    padding-top: 0;
    padding-bottom: 0;
    .columns {
        margin-bottom: 0;
    }

    .two-col-feature__body-col {
        font-weight: 200; 
    }
    
    @include touch {
        .two-col-feature__image {
            display: none;
        }
    }
    .two-col-feature__image {
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: $space-4;
        padding-bottom: $space-4;
        @include boxShadow($black, insetLeft, insetRight);
    }
    .two-col-feature__text {
        padding-top: $space-4;
        padding-bottom: $space-4;
            min-width: $gl-xlarge;
            .columns {
                display: block;
            }
    }
    @media screen and (min-width: 860px) and (max-width: $desktop) {
        .two-col-feature__text {
            .columns {
                display: -ms-flex;
                display: flex;
            }
        }
        .two-col-feature__heading-col {
            max-width: $gl-med; 
        }   
    }
    @include desktop {
        .two-col-feature__text {
            min-width: $gl-xlarge; 
        }
    }
    @include widescreen {
         .two-col-feature__text {
            min-width: $gl-xlarge;
            .columns {
                display: -ms-flex;
                display: flex;
            }
          }
         .two-col-feature__heading-col {
            max-width: $gl-med; 
        }   
    }
}


/** Exit survey styling **/
.t4-exit-survey {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 50000;
    background-color: rgba($black, 0.21);
    width: 100%;
    height: 100vh;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 160ms ease-out, opacity 160ms ease-out;
    &.is-visible {
        @include make-flexbox($direction: row, $justify: center, $align: center);
        visibility: visible;
        opacity: 1;
    }
    &__body {
        padding: $space-4a $gutter-width;
        max-width: $gl-large;
        background-color: $light-10;
        @include make-flexbox($direction: column, $justify: center, $align: left);
    }
    &__heading, p {
        margin-bottom: $space-4;
    }
    &__buttons {
        width: 100%;
        padding-top: $space-11;
        @include make-flexbox($direction: row, $justify: center, $align:  flex-start);
    }
    &__button {
        border-radius: 4px;
        font-size: 1rem;
        padding: $space-4/2 $gutter-width;
        transition: background-color 120ms ease-out;
        @include active-link {
             cursor: pointer;
        }
        &.t4-exit-survey__yes {
            color: $primary-invert;
            background-color: $primary;
            @include active-link {
                background-color: darken($primary, 10%);
            }
        }
        &.t4-exit-survey__no {
            background-color: $gray-a;
            @include active-link {
                background-color: darken($gray-a, 10%);
            }
        }
    }
    &__no-wrap, &__yes-wrap {
        width: 50%
    }
    &__no-wrap {
        @include make-flexbox($direction: column, $justify: center, $align: flex-end);
        padding-right: $gutter-width/2;
        span {
            font-size: $size-9;
        }
    }
    &__yes-wrap {
        @include make-flexbox($direction: column, $justify: center, $align: flex-start);
        padding-left: $gutter-width/2;
        span {
            font-size: $size-9;
        }
    }
    @include widescreen {
        &__body {
            max-width: $gl-med;
        }
    }
}
.text-feature {
    &.has-section-nav {
        padding-bottom: 0;
    }
}