       <!-- ** Hero image big ** -->
       <section class=" hero is-fullheight hero-image" style="background-image: url('style-assets/media/img/egyptian-building-at-night.jpg')" aria-labelledby="hero-image-lrg-title">
           <div class="hero-body">
              <div class="container">
                 <div  class="columns">
                     <div class="hero-content-wrap column">
                         <div class="hero-text-wrap">
                             <h1 id="hero-image-lrg-title" class="hero-title section__title is-feature-font--serif">VCU School of Medicine</h1> 
                             <p class="hero-subtext is-feature-font">Students at the Virginia Commonwealth University School of Medicine will find an unparalleled learning experience inside the classroom and at the VCU Medical Center</p>
                             <a href="javascript:void(0)" title="Read more" class="button is-transparent">Read more</a>
                         </div>

                     </div>
                 </div>
              </div>
          </div>
          <div class="hero-foot">
              <div class="container">
                 <span class="svg-icon-wrap svg-icon--scroll">
                     <span>More</span>
                     <svg class="svg-icon">
                         <use xlink:href="style-assets/media/svg-icons/som-icons.svg#arrow-dots--down"></use>
                     </svg>
                 </span>
              </div>
          </div>
           <div class="image-overlay "></div>
       </section>
       <!-- // ** Hero image fullsize ** -->