       <!-- ** Landing page navigation ** -->
       <nav class="section landing-page-navigation" role="navigation" aria-label="In this section navigation">
          <div class="landing-page-nav__top-wrap">
               <div class="container landing-page-nav__top"> 
                   <div class="landing-page-nav__heading"> 
                       <h3 class="landing-page-nav__heading-text is-feature-font">
                           <a href="javascript:void(0)" class="audience-nav__toggle landing-page-nav__toggle" title="Show/hide audience navigation">
                              In this section
                               <span class="icon icon--svg has-icon-white show-more-icon">
                                   <svg>
                                       <use xlink:href="style-assets/media/svg-icons/som-icons.svg#circle_plus" />
                                   </svg>
                               </span>    
                               <span class="icon icon--svg has-icon-white show-less-icon">
                                   <svg>
                                       <use xlink:href="style-assets/media/svg-icons/som-icons.svg#circle_minus" />
                                   </svg>
                               </span>    
                           </a>
                       </h3>
                   </div>
               </div><!-- // audience-nav__top container --> 
           </div><!-- // audience-nav__top wrap -->
         <div class="landing-page-nav__body-wrap"> 
           <div class="container"> 
                  <div class="landing-page-navigation__body"> 
                   <div class="columns">
                       <div class="column ">
                            <a href="javascript:void(0)" class="landing-page-navigation__link is-feature-font">Landing section #1</a>
                            <a href="javascript:void(0)" class="landing-page-navigation__link is-feature-font">Landing section #2</a>
                            <a href="javascript:void(0)" class="landing-page-navigation__link is-feature-font">Landing section #3</a>
                            <a href="javascript:void(0)" class="landing-page-navigation__link is-feature-font">Landing section #4</a>
                       </div>
                       
                   </div><!-- // .columns -->
                </div><!-- // .audience-navigation__body -->
           </div><!-- // audience-navigation__body container -->
         </div><!-- / audience-navigation__body-wrap -->
       </nav>
       <!--** // landing-page-navigation **-->