<section id="masters-programs" class="programs-block section feature-section has-light-background">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2>Progams</h2>
                <p>Paragraph or two</p> 
            </div>
        </div>
        <div class="columns">
            <div class="column program-info-card">
                <a href="javascript:void(0)" class="button is-primary program-info-card__button">
                    <span>Addiction studies</span> 
                    <span class="program-info-card__deptartment">International Programme in Addiction Studies</span>
                </a>
                <div class="columns program-info-card__card">
                    <div class="column">
                        <h2>Addiction studies</h2>
                        <p>The International Programme in Addiction Studies (IPAS) is a unique collaboration of three of the world's leading research universities in the field of Addiction Science: King's College London, the University of Adelaide, and Virginia Commonwealth University.</p>
                        <p>You will be introduced to the latest information on topics ranging from the biological basis of addiction to addiction treatment, prevention and policy through lectures produced exclusively for IPAS by an international Who's Who of experts in the field.</p>
                        <p><strong>Department:</strong> The International Programme in Addiction Studies (IPAS)</p>
                        
                        <p><strong>Contact:</strong><br />
                        Mary Loos, Ph.D.<br />
                        Program Director<br />
                        804-828-8019<br />
                        E-mail: <a href="mailto:meloos@vcu.edu">meloos@vcu.edu</a></p>
                        <p>
                        <div class="program-card__ctas">
                              <a href="javascript:void(0)" class="button is-primary">Find out more</a>
                              <p class="card-content__read-more"><a href="javascript:void(0)">Find out about applications</a>
                                <span class="icon icon--svg is-inline-icon has-icon-black">
                                    <svg>
                                        <use xlink:href="../#next_arrow" />
                                    </svg>
                                </span>
                             </p>
                        </div>
                    </div>
                </div><!-- // .program-info-card__card -->
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Medical Physics</span>
                    <span class="program-info-card__deptartment">Department of Medical Physics</span>
                </a>
                
                <div class="columns program-info-card__card">
                    <div class="column">
                        <h2>Medical Physics</h2>
                        <p>The CAMPEP-accredited Master of Science in Medical Physics at VCU will provide you withthe foundational knowledge necessary to practice as a future clinical medical physicists, and will provide you with hands-on clinical training so you can learn what the profession entails.</p>

                        <p><strong>Contact:</strong><br />
                        William Song, Ph.D.<br />
                        Program Director<br />
                        804-628-3457<br />
                        E-mail: <a href="mailto:william.song@vcuhealth.org">william.song@vcuhealth.org</a></p>
                        <p>
                        <div class="program-card__ctas">
                              <a href="javascript:void(0)" class="button is-primary">Find out more</a>
                              <p class="card-content__read-more"><a href="javascript:void(0)">Find out about applications</a>
                                <span class="icon icon--svg is-inline-icon has-icon-black">
                                    <svg>
                                        <use xlink:href="../#next_arrow" />
                                    </svg>
                                </span>
                             </p>
                        </div>
                    </div>
                </div><!-- // .program-info-card__card -->
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Anatomy and Neurobiology</span>
                    <span class="program-info-card__deptartment">Department of Anatomy and Neurobiology</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Molecular Biology and Genetics </span>
                    <span class="program-info-card__deptartment">Department of Molecular Biology and Genetics </span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Biolochemistry</span>
                    <span class="program-info-card__deptartment">Department of Molecular Biology and Genetics </span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Microbiology and Immunity</span>
                    <span class="program-info-card__deptartment">Department of Microbiology and Immunity</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Microbiology and Immunity</span>
                    <span class="program-info-card__deptartment">Department of Microbiology and Immunity</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Biostatistics</span>
                    <span class="program-info-card__deptartment">Department of Biostatistics</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Biostatistics</span>
                    <span class="program-info-card__deptartment">Department of Biostatistics</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Pharmacology and Toxicology</span>
                    <span class="program-info-card__deptartment">Department of Pharmacology and Toxicology</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Genetic Counseling</span>
                    <span class="program-info-card__deptartment">Department of Human and Molecular Genetics</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Physiology and Biophysics</span>
                    <span class="program-info-card__deptartment">Department of Human and Molecular Genetics</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Human Genetics</span>
                    <span class="program-info-card__deptartment">Department of Human Genetics</span>
                </a>
            </div><!-- // .program-info-card -->
            <div class="column program-info-card">
                <a href="javascript:void(0)" data-info-card="path-to-program-card.html" class="button is-primary program-info-card__button">
                    <span>Master of Public Health Program</span>
                    <span class="program-info-card__deptartment">Department of Family Medicine and Population Health</span>
                </a>
            </div><!-- // .program-info-card -->
        </div>
    </div>
</section><!-- // . programs-block -->