/* 
    SoM Navigation schemes
*/
.main-site-header {
    z-index: 20000;
    &.section {
        padding-top:     0;
        padding-bottom: 0;
    }
} 
/* Skip to content */
.som-skip-links {
  position: absolute;
  top: 0;
  left: 0;  
  z-index: 50000;
  padding-left:  $gutter-width/2;
  padding-right: $gutter-width/2;
  a {
    background-color: $gray-32;
    color: $white;
    text-decoration: underline;
    position: relative;
    border-bottom: 2px solid white;
    font-size: $size-7a;
    top: -100px;
    padding: $space-11 $gutter-width/2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: top 220ms ease-out;
    @include active-link {
        color: lighten($primary, 20%);
    }
    &:focus {
      outline: none;
      top: 0px;
    }
  }
    
}
/* Main navigation */
.main-navigation {
  .navbar-brand {
    -ms-flex-pack: justify;
    justify-content: space-between;
    @include touch {
      margin-left: -$gutter-width/2;
      margin-right: -$gutter-width/2;
    }
    .mobile-nav-toggle {
      padding:  0;
      -ms-flex:  0 0;
      flex-grow: 0;
      flex-shrink: 0;
      .navbar-link {
        padding-top:     $space-4;
        padding-bottom:  $space-4;
        padding-left:  $gutter-width/2;
        padding-right: $gutter-width/2;
        @include make-flexbox($direction: row, $justify: center, $align: center);
      }
      @include make-flexbox($direction: row, $justify: center, $align: stretch);
      @include desktop {
        display: none;
      }
    }
    .main-nav-close-icon {
      max-height: 1rem;
    }
    .main-nav-toggle__mobile {
      .navbar-link {
        padding-left: $gutter-width;
        padding-right: $gutter-width;
      }
      @include make-flexbox($direction: row, $justify: center, $align: stretch);
      @include desktop {
        display: none;
      }
    }
    .navbar-link {
      padding-left: $space-1;
      padding-right: $space-1;
      &:hover, &:active, &:focus {
        background-color: $light-10;
      }
    }
    .som-logo {
      /*width: $gl-large;*/
      -ms-flex:  1 0 auto;
      flex-grow:   1;
      flex-shrink: 0;
      -ms-flex-pack: center;
      justify-content: center;
      @include desktop {
        margin-left: -$gutter-width/2;
        padding-left: $gutter-width/2;
        padding-right: $gutter-width/2;
        width: auto;
        position: relative;
        &:before {
          @include boxShadow($black, insetRightThin);        
        }
        a {
          position: relative;
          z-index: 3;    
        }
        &::before {
          content: " ";
          display: block;
          position: absolute;
          height: 100%;
          width: 119.5%;
          top: 0;
          left: -19.5%;
          right: 0;
          transform: skewX(-19.5deg);
          z-index: 1;
          background-color: $light-10;
        }
      }
      @include fullhd {
        padding-left:  $gutter-width;
        padding-right: $gutter-width;
      }
      @include widescreen {
        padding-left: $gutter-width/1.5;
        padding-right: $gutter-width/1.5;
      }
    }
  }
  .main-navigation__search-toggle {
    display: none;
    @include desktop {
      display: inherit;  
      margin-right: -$gutter-width/2;
      padding-right: $gutter-width/2;
      padding-left: $gutter-width/2;
      > .navbar-item {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .navbar-link {
        height: 100%;
        padding-left: $gutter-width;
        padding-right: $gutter-width;
        margin-right: -$gutter-width/2;
        &:before {
            background-color: $light-10;
            @include boxShadow($black, insetLeftThin);
        }
        &:hover, &:active, &:focus {
            &::before {
                background-color: $light-8;
            }
        }
      }
      .show-less-icon {
        max-height: 1rem;
        max-width:  1rem;
      }
    }
  }
  .navbar-burger {
      margin-left: 0;
  }
  .secondary-nav--mobile__menu {
      @include desktop {
          display: none;
      }
  }
  .main-navigation__navbar {
      @include desktop {
          padding-left: $gutter-width/2;
          padding-right: $gutter-width/2;
      }
  }
  @include desktop {
      margin-left:  -$gutter-width/2;
      margin-right: -$gutter-width/2;
      
      .mobile-nav-toggle {
          display: none;
      }
  }
}

//Overrides and icons - general
.navbar-link, .navbar-item {
    &.has-dropdown {
        @include touch {
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    &.vcu-health-logo {
        border-bottom:  1px solid #ccc;
        @include boxShadow($light-10, insetTopThin, insetBottomThin); 
        > img {
             max-height: $size-8;  
        }
        background-color: $white;
        @include active-link {
            background-color: $light-8;
        }
        > span {
            display: none;
        }
    }
}
.navbar-link {
  .navbar-item {
    > .icon {
      -ms-flex: -1;
      flex-grow:-1;
      width:  1.2rem;
      height: 1.2rem;            
    }
  }    
}  
/* Secondary navigation - mobile */ 
.secondary-nav--mobile__menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    width: calc(100% + $gutter-width); 
    margin-left:   -$gutter-width/2;
    margin-right:  -$gutter-width/2;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: visibility 160ms ease-out, opacity 160ms; 
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
    background-color: $gray-32;
    color: $white;
    padding-top:    $space-4;
    padding-bottom: $space-4;
    border-bottom: 2px solid $som-gold;
    .navbar-dropdown {
            display: none;
            &.is-active {
                display: inherit;
            }
    }
    .secondary-nav--mobile__link {
        color: $white;
        padding: $space-1 $gutter-width ;
        @include active-link {
          color: $white;
          text-decoration: underline;
        }
        &.has-dropdown, &.has-icon { 
            display: -ms-flex;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-align: center;
            align-items: center;
            .icon {
                width:     1rem;
                height:    1rem;
            }
            .show-more-icon {
                display: inherit;
            }
            .show-less-icon {
                display: none;
            }
            &.is-active {
                .show-more-icon {
                    display: none;
                }
                .show-less-icon {
                    display: inherit;
                }
            }
        }
        &.vcu-health-logo { 
             display: -ms-flex;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            > img {
                max-height: 1.125rem;
            }    
        }
        &.vcu-health-link {
            background-color: $som-gold;
            color: $black;
            @include make-flexbox($direction: row, $justify: space-between, $align: center);

            &:hover, &:focus, &:active, &.is-active {
                background-color: darken($som-gold, 16%);
                svg {
                    fill: $white;
                }
            }
        }
        &.audience-link {
            font-weight: 700;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        &:hover, &:focus, &:active, &.is-active {
            &.vcu-health-logo {
                 background-color: $light-8;
            }
            color: $white;
            background-color: $black;
        }
    }
    .secondary-nav__audience-menu {
        padding: 0;
        padding-top: $space-1;
        padding-bottom: $space-1;
    }
    .secondary-nav__dropdown {
        background-color: $black;
        .secondary-nav--mobile__link {
            padding-left: $gutter-width*1.5 ;
            padding-right: $gutter-width*1.5 ;
        }
    }
}
//Secondary nav - desktop only
.secondary-navigation {
  display: none;
  background-color: $gray-32;
  color: $white;
  padding:    0 $gutter-width/2;
  &.container {
    margin-left:  -$gutter-width/2;
    margin-right: -$gutter-width/2;        
    > .navbar .navbar-menu {
       margin-right: auto;
    }
  }
  .secondary-nav__navbar {
    background-color: transparent;
    min-height: auto;
  }
  //Icons 
  .icon {
    position: relative;
    right: -$gld-3;   
  }
  .navbar-item, .navbar-link {
    color: inherit;
    padding-top:     $space-1;
    padding-bottom:  $space-1;
    &.has-dropdown {
      padding-top: 0;
      padding-bottom: 0;
      position: relative;
      &:hover, &:active, &:focus, &.is-active {
        background-color: lighten($gray-32, 15%);
        color: $white;
      } 
    }
    &.vcu-health-logo {
      > img {
        max-height: 1rem;     
      }
    }
    &:hover, &:active, &:focus, &.is-active {
      &.vcu-health-logo {
          background-color: $light-8; 
      }
      background-color: lighten($gray-32, 15%);
      color: $white;
    }  
    transition: background-color 120ms ease-out;  
  }
  .navbar-item {
    &.has-dropdown {
      @include make-flexbox($direction: row, $justify: space-between, $align: center);
      .navbar-link {
          padding-right: $gutter-width/1.5;
      } 
      &:hover, &:active, &:focus, &.is-active {
        .navbar-link {
          //triangle
          &::before {
             z-index: 100;
             position: absolute;
             bottom: -8px;
             right: $gld-7;
             content: " ";
             width: 0;
             height: 0;
             border-left: 8px solid transparent;
             border-right: 8px solid transparent;
             border-top: 8px solid lighten($gray-32, 15%);
          }
        }
      }  
    }
  }
    .navbar-dropdown {
        top:     60px;
        left:   -47%;
        width: 148%;
        background-color: $gray-32;
        z-index: 400;
        transition: visibility 160ms ease-out 20ms, opacity 160ms ease-out 20ms; 
        
        .navbar-item {
            padding-right: $gutter-width/2; 
            padding-left: $gutter-width/2; 
            &:hover, &:active, &:focus, &.is-active {
                background-color: lighten($gray-32, 15%);
                color: $white;
            } 
        }
        &::after {
            position: absolute;
            top:       -5%;
            bottom:    -115%;
            left:     -20%;
            right:    -20%;
            height:   120%;
            width:    140%;
            content: " ";
            z-index: -10;
        }
    }
    @include desktop {
        @include make-flexbox($direction: row, $justify: flex-end, $align: center);
        .navbar-item {
            font-size: 0.8rem; 
            
        }
    }
    @include widescreen {
        .navbar-dropdown {
            top: 64px;
        }
    }
    @include superhd {    
        .navbar-item {
            font-size: $size-7a; 
        }
    }
}
/* Main navigation */
.main-navigation__menu {
  @include touch {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    width: calc(100% + $gutter-width); 
    
    margin-left:   -$gutter-width/2;
    margin-right:  -$gutter-width/2;
    
    transition: visibility 160ms ease-out, opacity 160ms; 
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
    padding-bottom: 0;
    padding-top: 0;
    border-top: 1px solid rgba($black, 0.24);
    border-bottom: 4px solid $som-green;
    
    .navbar-dropdown {
      width: 100%; 
      display: none;
      padding-top: 0;
      padding-bottom: 0;
      &.is-active {
          display: inherit;       
      }
    }
    .navbar-dropdown__body {
      width: 100%;
    }
    .main-nav-toggle {
      &.icon {
        display: none;    
      }
        
    }
  }
  padding: $space-2 0;
  .main-navigation__item {
    padding: 0;
    > a {
      display: -ms-flex; 
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      &.navbar-link--main {
        color: $gray-32;
      }
      @include desktop {
        -ms-flex-align: start;
        align-items:    flex-start;
        &.navbar-link--main {
          @include active-link {
            color: $white;  
          }
        }
      }
    }
    .navbar-dropdown__header, .navbar-dropdown__feature{
      @include touch {
        display: none;
      }
    }
    &:first-child {
      .navbar-link--main {
        border-top: none;
      }
    }
    @include desktop {
      position: static;
      .navbar-link--main {
        &:hover,&:active,&:focus, &.active {
          background-color: $som-green;
          color: $white;
          .icon {
            svg {
              fill: $white;
              stroke: $white;
            }
          }
          &::before {
            position: absolute;
            bottom:    -8px;
            left:  50%;
            @include vertical-align($shiftX: -50%, $shiftY: 0);
            content: " ";
            width: 0; 
            height: 0; 
            border-left:     8px solid transparent;
            border-right:    8px solid transparent; 
            border-top:      8px solid $som-green ;
          }
        }
      }
    }
  }
  //Top level links
  .navbar-link--main {
    font-weight: 700;
    display: inline-block;
    -ms-flex: 1 0 auto;
    flex-grow: 1;
    padding: $space-3 $gutter-width;
    @include touch {
      border-bottom: 1px solid $som-green;   
      border-top: 1px solid $som-green; 
      margin-top: -1px;
      width: 100%;
    }
    .mobile-nav-toggle {
      max-width:  1rem;
      max-height: 1rem; 
    }
    .show-more-icon {
      display: inherit;
    }
    .show-less-icon {
      display: none;
    }
    @include make-flexbox($direction: row, $justify: space-between);
    &.is-active {
      background-color: transparent;
      .show-more-icon {
        display: none;
      }
      .show-less-icon {
        display: inherit;
      }
    }
    @include desktop {
      padding: $space-1 $gutter-width/2;
      position: relative;
      .icon {
        position: relative;
        right: -$gld-6;   
      }
      transition: background-color 120ms ease-out;
      &:hover, &:focus, &:active,  &.is-active:not(:hover) {
        background-color: $som-green;
        color: $white;
        .icon {
          fill: $white;
          stroke: $white;
        }
      }
    }
  }
    //Nav dropdown body areas 
    .navbar-dropdown__links {
      @include touch {
        @include boxShadow($black, insetBottomThin, insetTopThin);    
      }
      //Sublinks
      .navbar-dropdown__link { 
        font-size: 1rem;
        font-weight: 400;
        padding: $space-2 $gutter-width;
        width: 100%;
        color: $black;
        background-color: transparent;
        border-bottom: 1px solid $light-8;
        transition: background-color 160ms ease-out;
        -ms-flex-pack: start;
        justify-content: flex-start;
        &:hover, &:active, &:focus {
          background-color: $white;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    .navbar-dropdown .navbar-item {
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    @include desktop {
      position: static;
      padding-left: $gutter-width/2;
      .navbar-start {
        position: relative;
        -ms-flex: 1 0 auto;
        flex-grow: 1;
        flex-shrink: 0;
      }
      .navbar-dropdown {
        border-top: none;
        width: 100%;
        padding: $space-4;
        left: 0%;
        top: 66px;
        background-color: $light-10;
        border-bottom: 4px solid $som-green;
        //causes hover delay
        &::after {
          position: absolute;
          top:       -0%;
          left:     -2.5%;
          right:    -2.5%;
          height:   100%;
          width:    105%;
        }
        &.has-two-cols {
          .navbar-dropdown__body {
            border-top: 1px solid $som-green;
          }
          .navbar-dropdown__links { 
            border-top: none;
            width: 50%;
            &:first-child {
              padding-right: $gutter-width/2;    
            }
            &:last-child {
              padding-left: $gutter-width/2;    
            }
          } 
        }
      }
      .navbar-dropdown__header {
          width: 100%;
          p {
              margin-bottom: $space-3;
          } 
      }
      .navbar-dropdown__heading {
          font-size: $size-3;
          margin-top: flat-margin($size-2, 1.3);
          line-height: -0.9;
          margin-bottom: $space-1;
      }
      .navbar-dropdown__header, .navbar-dropdown__link {
          padding-left:  $gutter-width/2;
          padding-right: $gutter-width/2;
      }
      .navbar-dropdown__links {
          padding-top: $space-1 ;
          border-top: 1px solid $som-green;
          width: 100%;
      }
      .navbar-dropdown__body {
          @include make-flexbox($direction: row, $justify: space-between, $align: stretch);
      }
      .navbar-dropdown__link {
        padding-top: $space-2;
        padding-bottom: $space-2;
        &:hover, &:active, &:focus, &.is-active {
          background-color: $white;
        }
      }
      .navbar-dropdown__links, .navbar-dropdown__feature {
        -ms-flex: 0 0 auto; 
        flex-grow: 0;
        flex-shrink: 0;
      }
      .navbar-dropdown__feature {
        display: none;
        -ms-flex: 0 1 38.1953%; 
        flex-grow: 0;
        flex-shrink: 1;
        padding-top: calc($space-2 + $space-1);
        padding-left:  $gutter-width; 
      }
    }
    @include widescreen {
         .main-navigation__item {
            padding-left:  $gutter-width/2;
            padding-right: $gutter-width/2;
        }
        .navbar-dropdown {
            padding-top: $space-4a;
            padding-bottom: $space-4a;
            max-width: $gl-large;
            left: $gl-med/2;
            top: 74px;
            &.has-feature {
                max-width: none;
                left: 0;
                .navbar-dropdown__links {
                   width: $gl-large;
                }
            }
            &.has-two-cols {
                left: 0;
                max-width: none;
            }
        } 
            
         .navbar-dropdown__feature {
            @include make-flexbox($direction: column, $justify: flex-start);
        }
    }
    @include fullhd {
        .main-navigation__item {
            padding-left:  $gutter-width/1.5;
            padding-right: $gutter-width/1.5;
        }
    }
    @media screen and (min-width: 1560px) {
        .main-navigation__item {
            padding-left:  $gutter-width*1.5;
            padding-right: $gutter-width*1.5;
        }
    }
    @media screen and (min-width: 1560px) {
        .main-navigation__item {
            padding-left:  $gutter-width*1.5;
            padding-right: $gutter-width*1.5;
        }
    }
    @include superhd {
        padding-left:  $gutter-width; 
        padding-right: $gutter-width; 
        
        -ms-flex-pack: center;
        justify-content: center;
        .main-navigation__item {
            padding-left:  $gutter-width;
            padding-right: $gutter-width;
        }
        .navbar-start {
            -ms-flex-pack: center; 
            justify-content: center;
            align-self: center;
            flex-grow: 0;
            margin-right: 0;
        }

        .navbar-dropdown {
            padding-top:     $space-5;
            padding-bottom:  $space-5;
            
            &.has-feature, &.has-two-cols {
                width: 105%;
                left: -1.25%;
                
            }
            top: 76px;
        }
    }
    
} 
//Navigation hovers - desktop 
@include desktop {
    .secondary-navigation, .main-navigation__menu, .main-navigation__search-toggle  {
        .navbar-item {
            &.has-dropdown {
                &:hover, &:active, &:focus, &.is-active {
                    .navbar-dropdown {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .navbar-link {
                    &:hover, &:active, &:focus, &.is-active {
                        + .navbar-dropdown {
                            visibility: visible;
                            opacity: 1;
                        }
                    }   
                }
            }
        }
        .navbar-dropdown {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            display: block;
            z-index: 400;
            @include boxShadow($black, fullPaper);
            transition: visibility 160ms ease-out 20ms, opacity 160ms ease-out 20ms; 
            &::after {
                position: absolute;
                content: " ";
                z-index: -10;
            }
          &.is-active {
            visibility: visible;
            opacity: 1;
          }
       }  
        .main-navigation__item--left {
            .navbar-dropdown {
                left: 0;
            }
        }
        .main-navigation__item--middle {
            
        }
        .main-navigation__item--right {
            .navbar-dropdown {
                left: auto;
                right: 0;
            }
        }
        
    }
}
//Search form
.site-search-form {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    width: calc(100% + $gutter-width); 
    margin-left:   -$gutter-width/2;
    margin-right:  -$gutter-width/2;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: visibility 160ms ease-out, opacity 160ms; 
    
              //triangle
   
    &::after {
        position: absolute;
        top:       -5%;
        bottom:   -110%;
        left:     -5%;
        right:    -5%;
        height:    110%;
        width:     110%;
        content: " ";
        z-index: -10;
    }
    
    
    &.is-active {
        visibility: visible;
        opacity: 1;
    }
    
    padding: $space-5 $gutter-width;
    
    background-color: $light-10;
    color: $black;
    
    .site-search-form__inputs {
        @include make-flexbox($direction: row, $justify: space-between, $align: stretch);
    }
    #searchquery {
        background-color: transparent;
        color: $gray-32;
        
        font-size: 1rem;
        padding: $space-1 $space-1;
        margin-right: $gld-4; 
        
        border: none;
        border-bottom: 1px solid $black;
        
        -ms-flex: 1;
        flex-grow: 1; 
        
        transition: background-color 160ms ease-out;
        
        &:active, &:focus {
            outline: unset;
            background-color: $white;
        }
    }
    #search_go {
        background-color: transparent;
        border: none; 
        @include make-flexbox($direction: column, $justify: flex-end, $align: center);
    }
    p {
        margin-top:     $space-5;
        margin-bottom:  $space-1;
    }
    fieldset {
        border: none;
        legend { display: none; }
    }
    .site-search-form__filters {
        border: none;
        .site-search-form__filter {
            -ms-flex:     0;
            flex-grow:    0;
        }
        a {
          color: $gray-32;
          @include active-link {
            color: $gray-32;
            text-decoration: underline;
          }
        }
        .site-search-form__filter_label {
            -ms-flex:  0;
            flex-grow: 0;
            padding-left:  $space-1;
            margin-right: $gld-6;
        }
        @include make-flexbox($direction: row, $justify: flex-start, $align: center);
    }
    border-bottom: 4px solid $som-green;
    @include desktop {
        position: absolute;
        left: auto;
        top:   28px;
        right: 11.0%;
        width: $gl-large;
        @include boxShadow($black, fullPaper);
         &::before {
            position: absolute;
            top:     16px;
            right:  -8px;
            content: " ";
            width: 0; 
            height: 0; 
            border-top:     8px solid transparent;
            border-bottom:  8px solid transparent;
            border-left:    8px solid $light-10 ;
        }
    }
    @include widescreen {
        top: 42px;
        right: 8.0%;
    }
}
/** Audience navigation **/
.landing-page-navigation {
  @include boxShadow($black, bottom);
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 4px solid $black; 
  color: $white;
  .section__label {
    color: $white;
  }
  ul, li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  } 
  a {
    font-size: $size-5a;
    @include active-link {
      text-decoration: underline;      
    }
    text-decoration: none;  
  }
  //Toggle nav body 
  .icon {
    -ms-flex:  0;
    flex-grow: 0;
    height: $size-4;
    width:  $size-4;
  }
  .landing-page-nav__heading {
    a {
      color: $white;
      @include active-link {
        color: $white;
      }
    }
  }
  .landing-page-navigation__body {
    a {
      color: $gray-32;
			
			transition: background-color 200ms ease-out;
      @include active-link {
        color: $white;
        background-color: $gray-32;
      }
    }
  }
  &.is-active {
    .landing-page-nav__body-wrap {
      display: block;
    }
  }
      a { 
      $color: $white;
    }
  
}
.landing-page-nav__top-wrap {
    color: $white;
}
.landing-page-nav__top-wrap, .landing-page-nav__body-wrap {
    margin-left: -$gutter-width/2;
    margin-right: -$gutter-width/2;

}
.landing-page-nav__top-wrap {
    background-color: $gray-32;
    padding-top:     $space-1;
    padding-bottom:  $space-1;
}
.landing-page-nav__body-wrap {
    background-color: $light-10;
    @include boxShadow($black, insetTopThin, insetBottomThin);
    display: none;
}
.landing-page-nav__heading, .audience-nav__heading {
padding-left: $gutter-width/2;
padding-right: $gutter-width/2;
  .landing-page-nav__heading-text { 
    font-size: $size-5;
    font-weight: 400;
    margin-bottom: 0;
  }
  .landing-page-nav__toggle, .audience-nav__toggle {
     max-height: $size-3;
     max-width:  $size-3;
     min-width: 100%;
     @include make-flexbox($direction: row, $justify: space-between, $align: center);
     text-decoration: none;
     @include active-link {
         text-decoration: none;
     }
  } 
}
.landing-page-navigation__body {
    padding-top:    $space-3;
    padding-bottom: $space-4;
    padding-left: $gutter-width/2;
    padding-right: $gutter-width/2;
    .column {
        padding: 0;
    }
    .landing-page-navigation__link {
        display: block;
        padding: $space-1 $column-gap;
        padding-bottom: $space-1;
        &:first-child {
            margin-bottom: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        transition: background-color 120px ease-in;
        @include active-link {
            background-color: $white;
            text-decoration: underline;
        }
        
        @include mobile {
            border-bottom: 1px solid $gray-a;
            &:last-child {
                border-bottom: none; 
            }
        }
    }
    @include tablet {
        .column {
            @include make-flexbox($direction: row, $justify: start, $wrap: wrap); 
        }
        .landing-page-navigation__link {
            -ms-flex: none;
            flex: none;
            width: 50%; 
        } 
    }
    @include desktop {
        .landing-page-navigation__link {
            width: 25%;
        } 
    }
}
.audience-navigation {
  border-bottom-color: $som-gold; 
  width: 100%;
  .audience-navigation__body {
    color: $white;
    a {
      color: $white;
    }
  }
}
.audience-navigation__top-wrap {
    background-color: $black; 
}
.audience-navigation__body-wrap {
    background-color: $gray-32;
    @include touch {
        display: none;
    }
}
.audience-navigation__body {
    padding-top:    $space-5;
    .column {
        padding: 0 $column-gap;   
    }
    li {
        margin-bottom: $space-3; 
    }   
    @include tablet {
        .column {
             display: block; 
        }

    }
}
/** Inner page navigation schemes **/
//Sidebar nav
.sidebar-nav-wrap {
    @include desktop {
        margin-left: -$gutter-width/2; 
        margin-right: -($gutter-width/2);
    }
}
.sidebar-nav-toggle {
    background-color: $gray-32;
    color: $white;
    overflow: hidden;
		
    > a {
			> h3 {
				color: $white;
			}
        color: $white;
        text-decoration: none;
        @include make-flexbox($direction: row, $align: center, $justify: space-between);
        h3 { 
            padding: $space-1 $gutter-width/2;
            font-size: $size-7a;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        @include active-link {
					> h3 {
						color: $white;
					}
            .sidebar-nav-toggle__icons {
                &::before {
                    background-color: darken($gray-8,  5.57224%);
                }
            }
        }
    }
    @include desktop {
        .sidebar-nav-toggle__icons {
            display: none;
        }
    }
    @include touch {
        & + .sidebar-nav {
            display: none;
        } 
    }
}
.sidebar-nav {
    margin: 0;
    padding: 0;
    ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .show-more-icon {
                display: inherit;
            }
            .show-less-icon {
                display: none;
            }
    .is-active {
        > .sidebar-nav-toggle__icons {
            .show-more-icon {
                display: none;
            }
            .show-less-icon {
                display: inherit;
            }
        }
    }
    a {
        &:not(.sidebar-nav-toggle__icons) {
            display: inline-block;
        }
    }
    
    li {
        &.has-dropdown {
            > a {
                &:not(.sidebar-nav-toggle__icons) {
                    -ms-flex: none;
                    flex: none;
                    width: (100%-$gld-7);    
                }
            }
            > ul {
                display: none;
            }
        }
        list-style: none;
        @include make-flexbox($direction: row, $justify: stretch, $align: stretch, $wrap: wrap);
        a {
            text-decoration: none;
            &:not(.sidebar-nav-toggle__icons) {
                @include make-flexitem(1, 1, auto);
                padding: $space-1 $gutter-width/2;
            }
            
            background-color: $white;
            color: $black;    
            align-self: stretch;
            
            @include active-link {
                background-color: darken($white, 5.57224%);
                text-decoration: underline;
            }
            transition: background-color 120ms ease-in; 
        }
        border-bottom: 1px solid $light-10;
        &.is-active {
            > a {
                border-bottom: 1px solid darken($white, 5.57224%);
            }
        }
    }
    &:last-child {
        boder-bottom: none;
    }
    > li {
        > a {
            font-size: $size-7a;
            &.sidebar-nav-toggle__icons {
                @include active-link {
                    background-color: darken($white, 5.57224%);
                }
            }
        }
        > ul {
            li {
                > a {
                    background-color: $light-10;
                    font-size: $size-7;
                    &:not(.sidebar-nav-toggle__icons ) {
                        padding-left: $gutter-width;
                    }
                    @include active-link {
                        background-color: darken($light-10, 5.57224%);
                    }
                    &.sidebar-nav-toggle__icons {
                        background-color: $light-10;
                        @include active-link {
                            background-color: darken($light-10, 5.57224%);
                        }
                    }
                }
                > ul {
                    li {
                        > a {
                            font-size: $size-8;
                            &:not(.sidebar-nav-toggle__icons ) { 
                                padding-left: $gutter-width*2;
                            }
                            background-color: $light-8;
                            color: $black;
                            @include active-link {
                                background-color: darken($light-8, 5.57224%);
                            }
                            &.sidebar-nav-toggle__icons {
                                background-color: $light-8, 5.57224%;
                                @include active-link {
                                    background-color: darken($light-8, 5.57224%);
                                }
                            }
                        }
                        border-bottom: none;
                    }
                }
                border-bottom: 1px solid darken($light-8, 5.57224%);
            }
        }
    } 
}
.sidebar-nav-toggle__icons {
    height: auto;
    width: $gld-7;
    &.is-mobile-toggle { 
        height: $size-0;
        background-color: transparent;
        @include vision-angle($bg-color: $gray-8, $pull: right);
        .show-more-icon, .show-less-icon {
                width:  $size-5;
                height: $size-3;
                fill:   $white;
                stroke: $white;
        }
        &::before {
            transition: background-color 120ms ease-in;    
        }
    }
    @include make-flexitem(0, 0, auto);
    &:not(.is-mobile-toggle) { 
        border-left: 1px solid darken($white, 9.01657%);
        transition: background-color 120ms ease-in; 
        background-color: $white;
    }
    &.icon {
        svg {
            width:  $size-6;
            height: $size-6;
            fill:   $gray-4; 
            stroke: $gray-4;
        }     
    }
}
.inner-page-nav {
    box-shadow: 0 36px 24px -36px rgba(32, 32, 32, 0.22);
    ul, li {
        margin: 0;
        padding: 0
    }
    li {
        list-style: none;
    }
    .section__label {
        margin-top: $space-1;
        margin-bottom: $space-1;
        @include fullhd {
            margin-top: $space-4;
        }
    }
    ul {
    	display: -ms-flexbox;
    	@include make-flexbox($direction: column, $justify: space-around, $align: stretch);
    	@include tablet {
    	    flex-direction: row;
    	}
    	> li {
    		flex-grow: 1;
    		flex-shrink: 1;
    		border-top: 1px solid $gray-8;
    		&:last-child {
    		    border-bottom: 1px solid $gray-8;
    		}
    		transition: background-color 180ms ease-out;
    		@include active-link {
    		        background-color: $light-10;
    		}
    		> a {
    		  text-decoration: none;
    		  width: 100%;
					height: 100%;
    		  text-align: left;
    		  padding: $space-1 $gutter-width/2; 
					display: flex; 
    			justify-content: stretch;
    			align-items: center;
    		  @include active-link {
						background-color: $primary;
						color: $white;
    		    text-decoration: underline;
    		  }
    		  @include tablet {
    		  	text-align: center;
    		  	padding: $space-1 $gutter-width/2 $space-2;
						align-items: center;
    		  }
    		}
    		@include tablet{
    			border-left: 1px solid $gray-8;
    			border-bottom: 1px solid $gray-8;
    			&:first-child { 
    			    border-left: none;
    			}
    		}
				@include widescreen {
					&:first-child {
						@include boxShadow($light-8, insetLeft);
						border-left: 1px solid $gray-8;
						border-top-left-radius: 		$size-1;
						border-bottom-left-radius: $size-1;
						> a {
							border-top-left-radius: 		$size-1;
							border-bottom-left-radius: $size-1;
						}
					} 
					&:last-child {
						@include boxShadow($light-8, insetRight);
						border-right: 1px solid $gray-8;
						border-top-right-radius: 		$size-1;
						border-bottom-right-radius: $size-1;
						> a {
							border-top-right-radius: 		$size-1;
							border-bottom-right-radius: $size-1;
						}
					} 
				}
    	}
    }
}
