//Programs cards´
.programs-block {
    > .container {
        > .columns {
            @include tablet {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
        }
    }
    .programs-block__columns {
        position: relative;
        
    }
}
.program-info-card {
    &__button {
        transition: background-color 120ms ease-out;
        > span {
                display: block;
        }
        > span:not(.program-info-card__deptartment) {
                font-size: $size-5;
        }
        @include active-link {
            text-decoration: none;
            background-color: $light-10;
            /*background-image: linear-gradient(to right, $light-10 0%,#ffffff 40%,#ffffff 60%,$light-10 100%);*/
            
            > span:not(.program-info-card__deptartment) {
                text-decoration: underline;
            }
            .program-info-card__deptartment {
                color: inherit;
            }
        }
        @include make-flexbox($direction: column, $justify: flex-start, $align: left);
        .program-info-card__deptartment {
            font-size: $size-7;
            color: $light-10;
        }
    }
    .program-info-card__card {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            position: relative;
            max-height: 0;
            visibility: hidden;
            opacity: 0;
            overflow: hidden;
            left: -100%;
            transition: opacity 180ms ease-out, left 200ms ease-out, max-height 180ms ease-out;  
            &.is-visible {
                margin-top:     $space-1;
                padding-top:     $space-2;
                padding-bottom:  $space-2;
                max-height: none;
                visibility: visible;
                opacity: 1;
                left: 0;
            }
               background-color: $white; 
            
        }
    .program-card__ctas {
        .button {margin-right: $gutter-width/2;}
        p { margin-bottom: 0;}
    }
    
    @include tablet {
        -ms-flex: none;
        flex: none;
        width: 50%;
    }
}