//Cards
/* General for all cards */
.cards-columns {
    @include tablet {
        &.columns {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;            
        }
        > .column {
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            max-width: 50%;
        }
    }
    @include desktop {
        &.columns {
            justify-content: flex-start;            
        }
        
        > .column {
            flex-basis: 25%;
         //       max-width: 25%;
        }
    }
}
.vcu-health-cards {
    .cards-columns {
        @include tablet {
            > .column {
                flex-basis: 33%;
                max-width: none;
            }
        }
        @include tablet {
            justify-content: space-around;
            > .column {
                flex-basis: 50%;
                max-width: 50%;
            }
        }
        @include widescreen {
            > .column {
                flex-basis: 33%;
            }
        }
    }    
}
/** flat cards - base styling for cards **/
.card--flat {
     border: 1px solid $light-8;
     overflow: hidden;
    .card__anchor {
        display: block  ;
        color: inherit;
        text-decoration: none;
        &:hover, &:focus, &:active {
            text-decoration: none;
        }
    }
    .card-header {
        box-shadow: none ;  
    }
    .card-heading {
        color: inherit;
        font-size: $size-5;
        margin-top: flat-margin($size-4);
        margin-bottom: $space-1; 
    }
    .card-content {
        padding: $space-3 $gutter-width/2;
        padding: $space-3 $gutter-width/2;
        transition: background-color 160ms ease-out;
    }
    .card-content__text {
        color: inherit;
        margin-bottom: 0;
    }
    .button {
        background-color: $primary;
        color: $primary-invert;
        border-color: $primary-invert;
        @include active-link {
            background-color: $primary-invert;
            color: $primary;
            border-color: $primary;
        }
    }
    p {
        margin-bottom: $space-1;
    }
    a {
        color: inherit;
        text-decoration: none;
        @include active-link {
            text-decoration: underline;
        }
    }
    img {
        transition: transform 160ms ease-in        
    }
    .image-overlay {
        background-color: rgba($black, 0.28);
    }
    &:not(.program-card) {
        .button {
            margin-top: $space-2;
        }
    }
    .card-content__read-more {
        display: block;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: inherit;
        margin-top: $space-1;
        margin-bottom: 0;
    }
    .card__arrow {
        text-align: right;
        @include make-flexbox($direction: row, $justify: flex-end, $align: center);
        .icon {
            width: $gl-xsmall; 
            max-height: $space-4;
            @include vision-angle($pull: right);
            &::before {
               height: 102%;
               width: 130%;
               right: -30%;
            }
            svg {
                height: 80%;
                fill: $white; 
                transition: height 180ms ease-out;
            }
        }
    }
    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.has-border-#{$name} {
            border-bottom: 3px solid $color;
            .card__arrow {
                span {
                    &::before {
                        background-color: $color;
                        transition: background-color 180ms ease-out;
                    }
                    .icon {
                        svg {
                            fill: $color-invert;
                        }
                    }
                }
            }
            transition: background-color 180ms ease-out;
        }
        &.has-#{$name}-background {
            .card-content {
                background-color: $color;
                color: $color-invert;
            }  
            .button {
                background-color: $color;
                color: $color-invert;
                border-color: $color-invert;
                @include active-link {
                    background-color: $color-invert;
                    color: $color;
                    border-color: $color;
                }
            }
            .icon.icon--svg svg {
                fill: $color-invert;
            }
            .card__arrow {
                > .icon.icon--svg {
                    &::before {
                        background-color: $color-invert;
                        @include boxShadow($light-8, insetLeftThin, insetTopThin);
                    }
                    svg {
                       fill: $color;
                    }
                }
            }
        }

    }
    &:hover, &:focus, &:active {
        cursor: pointer;           
        .card-image {
            img {
                transform: scale(1.05);
            }
        }
        .image-overlay {
            background-color: rgba($black, 0.36);
        }
        .card-content__text {
            text-decoration: underline;
        }
        .card-content__read-more {
            font-weight: 700;
        }
        .card__arrow {
            .icon {
                svg {
                    height: 100%;
                }
            }
        }
    }
}
/** Card date - inset in card image **/
.card__date--inset { 
        @include make-flexbox($direction: row, $justify: flex-start, $align: center);
        background-color: $light-10;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: auto;
        .card__date__day, .card__date__month {
            padding-top:     $space-11;
            padding-bottom:  $space-11;    
        }
        .card__date__day {
            font-weight: 500;
            font-size: $size-5a;    
            line-height: 1;
            color: $white;
            padding-left:     $gutter-width/2;
            padding-right:    $gutter-width/2;
            border-right: 1px solid $black;
            background-color: $som-grana;
        }
        .card__date__month {
            @include boxShadow($black, insetLeftThin);
            display: inline-block;
            width: 100%; 
            line-height: 1;
            font-size: $size-7a; 
            padding-left:     $gutter-width/2;
            padding-right:    $gutter-width/2;
        }
    }
/** Card image - inset in image **/
.card-label--inset, .card-label--inset--left {
    top: $gld-6;
    padding-top:    $space-11*0.75;
    padding-bottom: $space-11*0.75;
    padding-left:  $gutter-width/2;
    padding-right: $gutter-width/2;
    
    
}
.card-label--inset {
    right: 0;
    @include vision-angle($bg-color: $white, $pull: right);    
    position: absolute;
    @each $name, $pair in $colors { 
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name} {
            color: $color-invert;
            @include vision-angle($bg-color: $color, $pull: right);    
            position: absolute;
        }
    }
}
.card-label--inset--left {
    left: 0;
    right: auto;
    @each $name, $pair in $colors { 
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name} {
            color: $color-invert;
            @include vision-angle($bg-color: $color, $pull: left);  
            position: absolute;
        }
    }
    position: absolute;
}
.heading-only-card {
    border: none;
    .heading-only-card__content {
        border-left: 1px solid $light-10;
        border-bottom: 3px solid $primary;
        @include make-flexbox($direction: row, $justify: space-between, $align: stretch);
        .card-heading {
            margin-bottom: 0;
        }
        .card__arrow {
            max-width: $gl-small;
            .icon {
                height: 100%;
                width: 100%;
                max-height: none;
                &::before {
                    background-color: $primary;
                }
            }
            .heading-only-card__icon-wrap {
                max-height: $space-5;
                svg {
                    height: $space-5;
                }
            }
        }
    }
    @include active-link {    
        .card__anchor {
            text-decoration: underline;
        }
    }
}
.card--dark {
    color: $white;
    .card-content {
        background-color: $gray-32; 
    }
    .icon {
        svg {
            fill: $white;
            stroke: $white;
        }
    }
}
/** Site gateway cards **/
.site-gateways {
    padding-top:     $space-5*1;
    padding-bottom:  $space-5;
}
.site-gateway__card, .site-gateway__card--left {
    border: 1px solid $light-10;
    border-bottom: 3px solid $primary;
    .card-heading {
        @include touch {
           font-size: $size-5;
        }
        font-size: $size-6;
        margin-bottom: $space-1;
    }
    .card-content {
        text-align: center;
        p {
            margin-bottom: 0;
        }
    }
    .card__anchor {
        color: transparent;
        * {
            color: $text;        
        }
    }
    .card__arrow {
        > .icon.icon--svg {
            &::before {
                background-color: $primary;
            }
            svg {
               fill: $white;
            }
        }
    }
    @include active-link { 
        .card__anchor {
            * {
                color: $white; 
            }
            text-decoration: underline; 
            p {
                text-decoration: underline;
            }
            outline-color: $black;
        }
        background-color: $primary;
        color: $white;
        .card__arrow {
             > .icon.icon--svg {
                &::before {
                    background-color: $white;
                }
                svg {
                   fill: $primary; 
                }
            }
            
        }
    }

}
.site-gateway__card--left { 
    .card-content {
        text-align: left;
    }
    .card-heading {
        
        font-size: $size-5;
    }
}
/** Featured programs cards **/
.featured-programs {
    > .container {
        margin-right: auto;
        margin-left: auto;
    }
    background-color: $light-10;
    padding-top:     $space-5*1.5;
    padding-bottom:  $space-5*2;
    @media screen and (min-width: 700px) {
    }
    .section__intro {
        padding-bottom: 1rem;
        border-bottom: none;
    }
    @include boxShadow($black, top, insetBottom) ; 

    .featured-programs__outer-columns {
        > .column {
            padding-top: 0;
            padding-bottom: 0;
        }
             > .column {
                 &:first-child {
                     padding-bottom: $space-5;
                 }
                 &:last-child {
                     padding-top: $space-5;     
                 }
            }        
        @include tablet { 
            @include make-flexbox($direction:column, $align: normal);
        } 
        @include desktop {

        }
    }

    .featured-programs__column {
        > .columns {
            > .column {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        @media screen and (min-width:  540px) {
            padding-left:  $gld-6; 
            padding-right: $gld-6; 
        }
        @include desktop {
           padding:  ($space-2 / 2) $column-gap*2; 
        }
        &.featured-programs-cards {
           
            @media screen and (min-width:  540px) {
                > .columns {
                    -ms-flex-pack: center;
                    justify-content: center;
                    display: -ms-flex;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    > .column {
                        padding: 0;
                        -ms-flex: 1 1 50%;
                        flex: 1 1 50%;
                        max-width: 50%;
                    }
                }        
            }
            @include desktop {
                > .columns {
                    
                    > .column {
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        max-width: none;
                    }
                } 
            }
            @include widescreen {
                > .columns {
                    > .column {
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        max-width: none;
                    }
                } 
            }

        }
        &.featured-programs__intro--column {
            @include desktop {
                .featured-programs-cards__intro {
                    text-align: center;
                }
            }
        }
    }
}
.featured-programs-cards__intro {
    @include desktop {
        margin-bottom: auto;            
    }

}
.featured-programs-card {
    text-align: right;
    position: relative;
    overflow: hidden; 
    border: none;
    .card-image {
        figure {
            @include make-image-container(120%);
            @include desktop{
                padding-top: 142%;
            }
        }
    }
    .card-content {
        color: $white;
        padding-bottom:  $space-2;
        padding-right: $gutter-width/1.25;
        padding-left: $gutter-width/1.25; 
        padding-top: $gutter-width/1.25; 
        position: absolute;
        bottom: -7.6rem;
        left: 0;
        z-index: 20;
        width: 100%;
        .card-heading {
            font-family: $garamond-prem;
            font-size: $size-3;
            margin-bottom: $size-9;
            
        }
        @media screen and (min-width:  510px) {
            bottom: -6.8rem;
        }
        @media screen and (min-width:  540px) {
            bottom: -10.2rem;
        }
        @media screen and (min-width:  680px) {
            bottom: -8.6rem;
        }
        @include tablet {
            bottom: -9.2rem;
        }
        @media screen and (min-width:  900px) {
            bottom: -8.0rem;
        }
        @include desktop {
            bottom: -14rem;
            .card-heading {
                @include make-flexbox($direction: column, $justify: flex-end);
            }
        }
        @include widescreen {
            bottom: -10rem;
        }
        p {
            margin-bottom: $space-11;
        }
        .card-content__read-more {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: inherit;
            margin-bottom: 0;
            .icon {
                svg {
                    fill: $white;
                }
            }
        }
        transition: background-color 260ms ease-out, bottom 280ms ease-out;
    }
    transition: transform 240ms ease-out 40ms;
    &:hover, &:active, &:focus {
        transform: scale(1.1);
        box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
        overflow: visible;
        z-index: 30;
        .card-content {
            bottom: 0rem;
            background-color: rgba($som-green, $transparency);   
        }
    }
}
.featured-programs-2 {  
        .cards-columns {
            > .columns {
                -ms-flex: 1 1 0;
                flex: 1 1 0;
            }
        }    
}
.program-card {
    position: relative;
    .card-heading {
        margin-bottom: $space-2;
    }
    .card-content__read-more {
        margin-top: 0;
        padding-right:  $gutter-width/4;
        font-size: 1rem;
        text-transform: none;
        @include active-link {
            font-weight: 400;
            text-decoration: underline;
        }
    }
    .program-card__intro {
        margin-bottom: $space-3; 
    }
    @include active-link {
         cursor: auto;
         .card-content__read-more {
            font-weight: 400;
        }
    }
    .card__arrow {
        margin-top: -$space-4;
        .icon {
            svg {
                height: 90%; 
            }    
        } 
    }
}
.program-card__ctas {
    @include make-flexbox($direction: row, $justify: flex-start, $align: center);
    a, .button {
        margin-right: $gutter-width/2;
    }
}
.featured-programs-card-alt {
    border-bottom-width: 3px;
    border-bottom-color: $primary;
    .card-content {
        padding-top: $space-4a;
        padding-bottom: $space-1;
    }
    .image {
        @include make-image-overlay($black, $z-index: 20, $transp: 0.8); 
        &::before {
            transition: background-color 200ms ease-out;
        }
        > img {
            z-index: 0;
        }
    }
    .program-card__ctas {
        margin-top: $space-4;
        .button {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .button:not([class*='is-']) {
        @include active-link {
            background-color: $som-yellow;
            border-color: $white;
        }
    }
    @include active-link {
        .image {
            &::before {
                background-color: rgba($black, 0.22);
            }
        }   
    }
}


/** Video slider - has a caption and play icon **/
.video-slider-card {
    .card-content {
        padding: 0;
    }
    .card-content__controls {
        @include make-flexbox($direction: row, $justify: flex-start, $align: stretch);
    }
    .video-slider__play, .video-slider__caption {
        padding-top:     $space-2;
        padding-bottom:  $space-2;
    }  
    .video-slider__play {
        width: $gld-7;
        border-right: 1px solid $black;
        @include make-flexbox($direction: row, $justify: center, $align: center);
        span {
            width:  $size-1;
            height: $size-1;
        }
        transition: background-color 160ms ease-in;
        @include active-link {
            background-color: $light-10; 

        }
    }
    .video-slider__caption {
         @include make-flexbox($direction: column, $justify: center);
        width: 100%;
        padding-left: $gutter-width/2;
        padding-right: $gutter-width/2;
        font-size: $size-5a;
    }
    .video-slider__date {
        margin-top: $space-11;
        font-size: $size-7a;
    }
    &.is-related-video {
        .video-slider__caption, .video-slider__play {
            background-color: $black;
            color: $white;
        }
        .video-slider__play {
            width: $gld-8;
            border-right-color: $white;
             @include active-link {
                background-color: $gray-32;  
            }
        }
    }
    @include tablet {
        .video-slider__play {
            span {
                width:  $size-0;
                height: $size-0;
            }
        }
        &.is-related-video { 
            .video-slider__play {
                span {
                    width:  $size-2;
                    height: $size-2;
                }
            }
        }
    }
}
/** Featured discovery card - card-content has a date and discovery title, 
    card image has a category label **/
.featured-discovery-card {
    .card-image {
        position: relative;
    }
    .card-content {
        @include make-flexbox($direction: column, $justify: flex-start, $align: stretch);
        &.is-featured {
            background-color: $black;
            color: $white;
            .card__title {
                font-size: $size-5a;
            }
        }
    }
    .card__date--plain {
        font-size: $size-7;
        margin-bottom: 0;
        margin-top: $space-1;
        color: $gray-6
    }
    .card__title {
        @include make-flexbox($direction: row, $justify: flex-start, $align: center);
        width: 100%;
        margin-bottom: 0;
        font-size: $size-6;
        font-weight: 500;
    }
    @include active-link {
        
    }
}
.grad-overlay-card {
    color: $white;
    position: relative;
    .card-heading {
        font-size: $size-4;
        margin-bottom: $space-11;
        @include desktop {
            font-size: $size-4;
        }
        @include widescreen {
            font-size: $size-4;
        }
        @include fullhd {
            font-size: $size-4;
        }
        @include superhd {
            font-size: $size-4;
        }
    }
    p {
        margin-bottom: 0;
    }
    .som-content-label {
        z-index: 20;
    }
    .card-content {
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    a { 
        @include active-link {
            p {
                text-decoration: underline;    
            }
        }
    }
    &.grad-overlay-card--vcu-health {
        .card-heading {
            @include make-text-shadow($x: 2px, $y: 2px, $color: rgba($black, 0.52));
            margin-bottom: 0;
        }
        .card-cta {
            .icon.is-inline-icon {
                height: $size-5;
                width:  $size-5;
                bottom: -0.32rem;
            }
            font-size: $size-5;
            color: $som-yellow;
            svg {
                fill: $som-yellow;
            }
        }
        @include active-link {
            .card-cta {
                text-decoration: underline;
            }
        }
        @media screen and (min-width: 1820px) {
            .card-content {
                .card-heading {
                    font-size: $size-4;
                }
                .card-label {
                    font-size: $size-8;  
                }
                .card-cta { 
                    font-size: $size-6;
                }
            }
        }
    }
}
.by-the-numbers-card {
    .by-the-numbers__number {
        font-family: $family-serif;
        font-size: $size-0*1.25;
        line-height: 1;
        margin-bottom: $space-3;
        @include mobile {
            margin-bottom: 0;
        }
    }
    .by-the-numbers__sub-text {
        font-size: $size-3;
        font-weight: 700;
        margin-bottom: 0;
    }
    .by-the-numbers__text {
        font-size: $size-5a; 
    }
    
}
.card--plain-text {
    
}
.sidebar-card {
    background-color: $white; 
    padding-top: $space-2;
    padding-left: $gutter-width/3;
    padding-right: $gutter-width/3;
    .card-title {
        font-weight: 700;
        margin-bottom: $space-2;
    }
    
    //News listings
    .news-events--listing {
        .news-listing__title, .news-listing__date {
            font-size: $size-7a; 
        }
        .news-listing__label {
            font-size: $size-8;
        }    
    }
}
/*Feature sections with cards - .has-colour classes */
$cardColours: (
  "secondary": ($som-grana, $som-grana-invert),
  "primary": ($primary, $primary-invert),
  "som-yellow": ($som-yellow, $som-yellow-invert),
);
.section {
    &.feature-section {
        @each $name, $pair in $cardColours { 
            $color: nth($pair, 1);
            $color-invert: nth($pair, 2);
            &.has-#{$name}-cards {
                .card-flat {
                    .card__arrow {
                        span {
                            &::before {
                                background-color: $color;
                            }
                        }
                    }
                }
                .site-gateway__card {
                    .card__arrow {
                            .icon {
                                &::before {
                                    background-color: $color;
                                }
                            }
                     }
                     @include active-link {
                        background-color: $color;
                        color: $color-invert;
                     }
                    border-bottom-color: $color;
                }
                .video-slider-card {
                    border: none;
                    .card-content__controls {
                        background-color: $color;
                        color: $color-invert;
                        @include active-link {
                            background-color: darken($color, 5%);
                        }
                    }
                    .video-slider__play {
                        @include active-link {
                            background-color: darken($color, 5%);
                        }
                    }
                }
                .heading-only-card {
                    border-bottom-color: $color; 
                    .heading-only-card__content {
                        border-bottom-color: $color;
                    }
                    
                    .card__arrow {
                        max-width: $gl-small;
                        .icon {
                            height: 100%;
                            width: 100%;
                            max-height: none;
                            &::before {
                                background-color: $color;
                            }
                        }
                        .heading-only-card__icon-wrap {
                            max-height: $space-5;
                            svg {
                                height: $space-5;
                            }
                        }
                    }
                }
        }//end .has-{name}-cards
        
        }//end @each        
    }
}
.plain-cards-feature {
    .cards-columns {
        .card-content {
            color: $white;   
        }
        
        .column:nth-child(odd) {
            .card-content {
                background-color: $primary;
            }  
            .button {
                color: $primary;
                background-color: $white;
                border-color: $som-yellow;
                @include active-link {
                    background-color: $som-yellow;
                    border-color: $white;
                    color: $primary;
                }
            }
        }
        .column:nth-child(even) {
            .card-content {
                background-color: $secondary;
            }
            .button {
                color: $secondary;
                background-color: $white;
                border-color: $som-yellow;
                @include active-link {
                    background-color: $som-yellow;
                    border-color: $white;
                    color: $secondary;
                }
            }
        }
    }
}
