@import '../som-functions-mixins';
.button {
    &__is-primary, &__is-secondary {
        @include make-button;
    }
    
    &__is-primary, &.is-primary { 
        background-color: $primary;
        border-color: $som-yellow;
        color: $white;
        @include active-link {
            background-color: $som-yellow;
            border-color: $primary;
            color: $primary;    
        }
    }
    &__is-secondary, &.is-secondary { 
        background-color: $secondary;
        border-color: $som-yellow;
        color: $white;
        @include active-link {
            background-color: $som-yellow;
            border-color: $secondary;
            color: $secondary;    
        }
    }
    
}
