/*
 *   Som Accordions - build on http://katmai.staging.vcu.edu/plugins/accordion-panel/
 */
//As a feature
.accordion-feature-section {
    > .container {
       > .columns {
            -ms-flex-pack: center;
            justify-content: center;
            > .column {
                max-width: 49.96rem;
                @include fullhd {
                    max-width: 59.952rem;
                }
            }
        }        
    }
}
//Accordion itself
.plugin-accordion {
        .plugin-accordion-heading {
            background-color: $primary;
            color: $white;
            transition: background-color 200ms ease-out;
            @include active-link {
                background-color: darken($primary, 5%);
            }
            .plugin-accordion-heading-indicator {
                color: inherit;
                transition-duration: 400ms;
            }
        }
        .plugin-accordion-body-wrapper {
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: opacity 800ms ease-out, visibility 400ms ease-out;
        }
        .plugin-accordion-panel {
            &.expand {
                .plugin-accordion-body-wrapper {
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
}