@import '../som-functions-mixins';
.button {
    &.is-primary { 
        background-color: $primary;
        border-color: $som-yellow;
        color: $white;
        @include active-link {
            background-color: $som-yellow;
            border-color: $primary;
            color: $primary;    
        }
    }
    &.is-secondary { 
        background-color: $secondary;
        border-color: $som-yellow;
        color: $white;
        @include active-link {
            background-color: $som-yellow;
            border-color: $secondary;
            color: $secondary;    
        }
    }
    
}
