/** Inner pages multi-col layouts **/
.content-area-wrap {
    &.section {
        padding-top: 0; 
        padding-bottom: 0; 
    }
    > .container {
        margin: 0;
        width: 100%;
        max-width: none;
        > .columns {
            margin-bottom: 0;
        }
    }

    //Cards columns
    /* General for all cards */
    .cards-columns {
        @include desktop {
            > .column {
                 -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                max-width:  50%;
            }
        }
        
        @include superhd {
            > .column {
                 -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
                max-width:  25%;
            }
            .card-heading {
                font-size: $size-5a;
            }
            .grad-overlay-card {
                .card-heading {
                    font-size: $size-4;
                }
            }
                    
        }
        @media screen and (min-width: 1820px) {
            > .column {
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
                max-width:  25%;
            }
        }
    }
    
}
.main-content {
    padding-top: $space-3; 
    @include touch {
        padding-top: 2.125rem;
    }
    padding-bottom: 0;
    > .section {
        @include touch {
            padding-top: $space-5;    
        }
        &.text-feature {
          &.has-section-nav {
              padding-bottom: $space-2;
              > .container {
                  max-width: none;
              }
          }
		  .text-feature__intro-para {
		  	@include desktop {
		  		padding-left: $gutter-width/1.681; 
		  		&::before {
		  			width: 2px;	
		  			left: -0;
		  		}
		  	}
		  	@include widescreen {
		  		padding-left: 0; 
		  		&::before {
		  			width: 4px;	
		  			left: -$gutter-width;
		  		}
		  	}
		  }
		  .inner-page-nav {
		  	> ul {
		  		@include desktop {
		  			flex-direction: column;
		  		}
		  		
		  	}
		  	@include desktop {
		  		> ul {
		  	      > li {
		  	        border-left: none;
                            border-bottom: none;
		  	      }
		  		}
		  	}
		    @include widescreen {
		      > ul {
		        flex-direction: row;
		        > li {
		          border-left: 1px solid $gray-8;
                           border-bottom: 1px solid $gray-8;
		          &:first-child {
		            box-shadow: none;
		            border-radius: 0;
		            border-left: none;
                             > a {
                               border-radius: 0;
                             }
		          }
		          &:last-child { 
		            box-shadow: none;
		            border-radius: 0;
		            border-right: none;
                             > a {
                               border-radius: 0;
                             }
		          }
		        }
		      }
		    }
		  }
        }
        margin-left: -$gutter-width/2;
        margin-right: -$gutter-width/2;
        
      &:first-child {
      	padding-top: 0;
      	h1, h2, h3 {
      		&:first-child {
      		    margin-top: flat-margin(1rem);
      		}
      	}
      }
      .inner-page-nav {
          margin-left: -$gutter-width/2;
          margin-right: -$gutter-width/2;
          .section__label {
              padding-left:     $gutter-width/2;
              padding-right:    $gutter-width/2;
          }
      } 
			&.feature-section--vision-graphic {
				padding-top: 0;
				.feature__column {
					padding: $space-5  $gutter-width; 
				}    
			}
    }
    
    
    //Gen content/fulltext content
    .general-content {
      margin-left: -$gutter-width/2;
      margin-right: -$gutter-width/2;
      padding-top: $space-4a;
      padding-bottom: $space-4a;
      &__wrap {
		    max-width: 850px;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter-width/2;
        padding-right: $gutter-width/2; 
        &:first-child {
          h1, h2, h3 {
            &:first-child {
               margin-top: flat-margin($space-4);
            }
          }
        }
      }
        
      figure {
          max-width: $gl-small; 
          margin-bottom: $space-4;
          &.is-pulled-right {
              float: right;
              margin-left: $space-4;
          }
          &.is-pulled-left {
              float: left;
              margin-right: $space-4;
          }
          img {
              margin-bottom: $space-11;
          }
          figcaption {
              font-size: $size-7;
              color: $grey; 
          }
          
          &.is-feature-image {
              max-width: 100%;
          }
      }
      ul {
          margin-bottom: $space-4;
      }
      .fulltext-video {
          margin-bottom: $space-4;
          max-width: 40rem;
      }
      //deans message
      &.deans-message {
        border-top:     1px solid $black;
        border-bottom:  1px solid $black;
        padding-bottom: $space-5;
        margin-top: $space-6;
        .deans-message__heading {
          width: 100%;
          margin-bottom: $space-4a;
        }
        .deans-image {
          max-width: none;
          float: left;
          width:     $gld-9;
          padding-top: 0;
          padding-left:  $gutter-width/2;  
          padding-right: $gutter-width;   
          &:before {
            height: 0;
            width: 0;
            padding: 0;
            margin: 0;
          }
          > figure {
            max-width: none;
            img {
              margin-bottom: 0;
            }
          }
        }
        @media screen and (min-width: 500px) { 
          .general-content__wrap {
            @include make-flexbox($direction: row, $justify: start, $wrap: wrap);
            .deans-image {
              float: none;
              max-width:     $gld-9;
              flex: 1 1 $gld-9;
            }
            .deans-message__content {
              flex: 1 1 0;
            }
          }
        }
        @media screen and (min-width: 700px) { 
          .general-content__wrap {
            .deans-image {
              max-width:     $gld-8;
            }
          }
        }
        @include tablet {
          .general-content__wrap {
            .deans-image {
              padding-top: 0;
            }
          }
        } 
        @include desktop {
          .general-content__wrap {
            .deans-image {
              padding-left: $gutter-width/2;      
            }
          }
        }
        @include widescreen {
          .general-content__wrap {
            .deans-image {
              max-width:     $gld-7*1.5;
            }
          }
        }
      }
    }
    .news-item__related-news__heading {
        margin-bottom: 0;
    }
    @include desktop {
        .news-item__related-news {
            margin-left: auto;
            margin-right: auto;
            max-width: 960px;
            
            margin-bottom: $space-5;

            .cards-columns {
                > .column {
                    max-width: 50%;
                    -ms-flex-basis: 50%;
                    flex-basis: 50%;
                }
            }
        }   
    }
    @include fullhd {
        .general-content {
            figure {
                &.is-pulled-right {
                    float: right;
                    margin-left: $space-4;
                    margin-right: -($gutter-width*2);
                }
            }
        }
    }
}
/** Two col layout **/
.is-2col, .is-3col {
    .left-sidebar {
        padding-top: $space-3; 
        padding-bottom: 0;
        @include touch {
            padding-top: $space-5;    
        }
    }
    .sidebar-nav-wrap, .sidebar-card {
        margin-bottom: $space-4;
        &.sidebar-card--mobile {
            margin-top: $space-4;    
        }
    }
    @include touch {
        .sidebar-nav-wrap {
            margin-bottom: 0;
        }
    }
    .sidebar-card {
        &.sidebar-card--desktop {
            @include touch {
                display: none;
            }
        }
        &.sidebar-card--mobile {
            display: none;
            @include touch {
                display: block;
            }
        }
    }
    .main-content {
    
            .video-slider-feature {
                padding: 0;
            }
    }
    @include desktop {
        .left-sidebar {
            background-color: $light-10;
            -ms-flex: none;
            flex: none; 
            width: $gl-small;
        }
        .main-content {
            -ms-flex: none;
            flex: none; 
            width: 100% - $gl-small;
            @include boxShadow($black, leftThin);
            .video-slider-feature { 
                .columns {
                    margin-left: 0;
                    margin-right: 0;  
                }
            }
        }
        //Heroes
        .hero.is-inner-hero {
            .container {
                max-width: none; 
            }
            .hero-content-wrap { 
                width: auto;
                margin-left: ($gl-small);
            }
        }   
    }
}

/** Three col layout **/
.is-3col {
    .right-sidebar {
        display: none;
    }
    .content-area-wrap {
        @include mobile {
            @include boxShadow($black, insetTopThin);
        }   
    }
    @include desktop {
        .right-sidebar {
            @include boxShadow($black, insetLeftThin);  
        }
    }
    @include fullhd {
        .left-sidebar {
            width: $gl-small;
        }
        .right-sidebar {
            -ms-flex: none;
            flex: none;
            width: $gl-xsmall;
            display: block;
            background-color: $light-10;
            padding-top: $space-4; 
        }
    }
}