/** Inner pages multi-col layouts **/
.content-area-wrap {
    &.section {
        padding-top: 0; 
    }
    .columns {
        margin-bottom: 0;
    }
}
.main-content {
    padding-top: 0;
    
    > .section {
        &:first-child {
            padding-top: $space-4;
        }
    }
    .feature-section--vision-graphic {
        .feature__column {
                padding-left:   $gutter-width;
                padding-right:  $gutter-width; 
        }    
    }
    
    //Gen content/fulltext content
    .general-content {
        max-width: 850px;
        &:first-child {
            margin-top: $space-4;    
        }
        
        padding-left:  $gutter-width/2;
        padding-right: $gutter-width/2;
        
        pullquote {
            
        }
        
        figure {
            max-width: $gl-small; 
            margin-bottom: $space-4;
            &.is-pulled-right {
                float: right;
                margin-left: $space-4;
            }
            &.is-pulled-left {
                float: left;
                margin-right: $space-4;
            }
            img {
                margin-bottom: $space-11;
            }
            figcaption {
                font-size: $size-7;
                color: $grey; 
            }
            
            &.is-feature-image {
                max-width: 850px;
            }
        }
        ul {
            margin-bottom: $space-4;
        }
        .fulltext-video {
            margin-bottom: $space-4;
        }
        
        
        //deans message
        .deans-message {
            border-top:     1px solid $black;
            border-bottom:  1px solid $black;
        }
        
    }
    
    .news-item__related-news {
        max-width: 850px;
        .news-item__related-news__heading {
            font-weight: 700;
        }
        margin-bottom: $space-5;
    }
    
    @include widescreen {
        .general-content {
            figure {
                &.is-pulled-right {
                    float: right;
                    margin-left: $space-4;
                    margin-right: -($gutter-width*2);
                }
            }
        }
    }
    
}
/** Two col layout **/
.is-2col, .is-3col {
    .left-sidebar {
        
        @include touch {
            padding-top: $space-5;    
        }
        padding-top: $space-4;    
        padding-left:  $gutter-width; 
        padding-right: $gutter-width/2;
    }
    .sidebar-nav-wrap, .sidebar-card {
        
        margin-bottom: $space-4;
    }
    @include touch {
        .sidebar-nav-wrap {
            margin-bottom: 0;
        }
    }
    .sidebar-card {
        &.sidebar-card--desktop {
            @include touch {
                display: none;
            }
        }
        &.sidebar-card--mobile {
            display: none;
            @include touch {
                display: block;
            }
        }
    }
    @include desktop {
        .left-sidebar {
            background-color: $light-10;
            -ms-flex: none;
            flex: none; 
            width: $gl-small;
        }
        .main-content {
            @include make-flexitem(1, 1, auto);
            @include boxShadow($black, leftThin, rightThin); 
            
            .section {
                padding-left: 0; 
                padding-right: 0;
                &.feature-section--vision-graphic, &.video-slider-feature {
                    margin-left:  -$gutter-width/2;
                    margin-right: -$gutter-width/2;
                }
            } 
            .video-slider-feature {
                background-color: $light;
                .columns {
                    margin-left: 0;
                    margin-right: 0;
                    @include boxShadow($black, fullPaper);    
                }
            }
        }
        
               //Heroes
        .hero.is-inner-hero {
            .container {
                max-width: none; 
            }
            .hero-body {
                padding-left: 0;
                padding-right: 0;
            }
            .hero-content-wrap { 
                width: auto;
                margin-left: ($gl-small);
            }
        }
        
    }
    
    
}
.is-2col {
    @include desktop {
        .main-content {
            padding-right: $gutter-width; 
        }
 
    }
}
/** Three col layout **/
.is-3col {
    .right-sidebar {
        display: none;
    }
    .content-area-wrap {
        @include mobile {
            @include boxShadow($black, insetTopThin);
        }   
    }
    @include desktop {
        .main-content {
            
            .section {
                padding-left: 0; 
                padding-right: 0;
                &.feature-section--vision-graphic {
                    margin-left:  -$gutter-width/2;
                    margin-right: -$gutter-width/2;
                }
            }
            
        }
        .right-sidebar {
            @include boxShadow($black, insetLeftThin);  
        }
    }
    @include fullhd {
        
        .left-sidebar {
            width: $gl-small;
        }
        .right-sidebar {
            -ms-flex: none;
            flex: none;
            width: $gl-xsmall;
            display: block;
            background-color: $light-10;
            padding-top: $space-4; 
        }
    }
}